In [2]:
# 라이브러리 불러오기
import pandas as pd
import numpy as np

In [4]:
pd.set_option('display.max_columns',None)

In [9]:
# 데이터 불러오기
df = pd.read_csv('/Users/jeong-yula/Desktop/streamlit/채용공고 통합 - 전처리 통합.csv')

df.head(3)

,Unnamed: 0,사이트,검색 키워드,기업이름,포지션이름,포지션이름 전처리,포지션 세부,마감일,상시 채용 여부,경력_min,경력_max,학력,학력 세부정보,스킬,제출서류,채용절차,채용형태,채용형태_전처리,채용형태_전처리 세부,급여,근무시간,근무장소,근무장소 시,근무장소 구,경기도 구,근무형태,주요업무,인재상,자격요건,Hard Skill,Soft Skill,Tool,우대사항,hard plus,soft plus,tool plus,복지,기업소개,표준산업분류,주요사업,주요사업.1,산업군,산업군 전처리,설립,사원 수,기업 평균 연봉,기업유형,기업 유형 전처리,기업 유형 전처리 _세부,매출액,접수방법,총점,복지 및 급여,업무와 삶의 균형,사내문화,승진 기회,경영진,기업추천율,CEO 지지율,성장 가능성,하이라이트+태그,퇴사,입사,링크
0,0,원티드,데이터 분석가,제네시스랩,Data Scientist,데이터 사이언티스트,NaN,상시채용,1,3,15,999,NaN,999,자유이력서 (형식 무관),• 서류전형 ▷ AI영상면접(뷰인터HR) ▷ 과제(필요시) ▷ 인터뷰 ▷ 평판조회/...,• 정규직 (수습기간 3개월) \n • 수습기간 내 급여 100% 지급,정규직,수습 3개월,999,999,"서울 중구 명동길 73, 5층",서울,중,NaN,999,• AI 기술에 기반한 HR Analytics\n • 딥러닝 모델 추론 결과 분석을...,NaN,관련업무 3년 이상 경력자 (또는 이에 준하는 실력을 겸비하신 분)\n • 통계 분...,"통계 분석, 데이터 마이닝, 머신러닝, 딥러닝, 영상 데이터, 음성 데이터, 텍스트...",분석적 사고,Python,딥러닝 추론 결과를 분석하여 모델 성능 향상에 기여한 경험이 있으신 분\n • AI...,"딥러닝, 딥러닝 추론 결과 분석 경험, 모델 성능 향상, AI, 데이터 수집, 데이...",AI 관심,999,"제네시스랩은 자율적이며, 생산력 높은 업무 환경을 조성하고자 노력하고 있어요.\n ...","제네시스랩은 [인간에 대한 깊은 이해와 공감]을 바탕으로, AI 기술을 통한 인류...","컴퓨터 시스템 통합 자문, 구축 및 관리업",AI 영상면접 및 AI 인공지능 관련 기술 서비스,"AI 기술을 활용한 서비스 개발 (뷰인터HR, 쥬씨, 닥터리슨)","헬스케어, 소프트웨어",제조,2017,70,"5,663",스타트업,스타트업,999,20억원,999,3.6,3.3,4.1,3.6,3.2,3.5,72,73,62,"연봉 업계 평균 이상, 지속 성장중인 기업, 일한만큼 받는 보상 ,건강검진\n \n...",22,26,https://www.wanted.co.kr/wd/106376
1,1,원티드,데이터 분석가,에어프레미아랩스,Data Analyst,데이터 분석가,NaN,2024.4.14,0,5,6,999,NaN,999,999,999,정규직,정규직,999,999,999,서울특별시 영등포구 여의도동,서울,영등포,NaN,999,데이터에 기반한 비즈니스 인사이트 및 전략적 방향성을 제안합니다\n - 다양한 유관...,NaN,5년 이상의 데이터 분석 업무 경험 혹은 그에 준하는 역량이 있으신 분\n - 데이...,"데이터 전처리, 데이터 분석 업무 경험","경력 5년, 데이터에 기반한 커뮤니케이션, 논리적 사고, 질문","SQL, Python",A/B 테스트 기반 가설 검증 경험이 있으신 분\n - BI Tool(Tableau...,"A/B 테스트, BI Tool, 데이터 시각화, 대시보드 구축, 데이터마트, 데이터...","새로운 도메인, 학구심, 도메인 지식, 비즈니스 임팩트, 인사이트 도출, 액션 도출...",999,"최고급 디바이스 제공 (맥북프로 혹은 이에 준하는 기기), 테스크테리어 비용 30만...","에어프레미아는 벤처캐피탈, 사모펀드, 기관투자자 등으로부터 누적 2700억 원의 투...",시스템ㆍ응용 소프트웨어 개발 및 공급업,999,항공 운송 서비스 제공,항공 및 여행,항공,2017,343,"5,852",중소기업,중소기업,999,999,999,999.0,999.0,999.0,999.0,999.0,999.0,999,999,999,"수평적인 기업 문화\n ,스타트업\n \n IT, 컨텐츠",1,25,999
2,2,"원티드,잡코리아",데이터 분석가,매드업,[광고사업부] 데이터 분석가,데이터 분석가,NaN,2024.5.1,0,3,7,대졸(4년),NaN,"Git, Google Analytics, Keras, Pytorch, Tensor...","이력서, 포트폴리오",서류 전형 ＞ 1차 인터뷰＞ 2차 인터뷰 ＞ 처우 협의 및 채용 확정,정규직 (수습 3개월),정규직,수습 3개월,회사내규에 따름,주5일 (월~금) 09:00~18:00\n탄력근무제,서울특별시 서초구 서초대로 74길 4 삼성생명 서초타워 20층,서울,서초,NaN,999,• 고객의 중요한 비즈니스 문제를 데이터를 사용하여 해결하고 인사이트 추출\n • ...,NaN,• 데이터 중심의 작업 환경에서 3년 이상의 경력을 보유하신 분\n • 주요 머신러...,"머신러닝, 딥러닝, 프레임워크, 협업 개발 툴, 데이터 분석 기법, 가설 검정, 회...","협업, 분석 및 문제 해결능력, 새로운 기술, 창의적 사고, 커뮤니케이션, 통찰력,...","TensorFlow, Kersas, PyTorch, ChatGPT, Stable D...","• Mobile Measurement Platforms, 구글 애널리틱스, 어도비 ...","Mobile Measurement Platforms, 데이터베이스, 데이터 시각화,...","컴퓨터 과학 학위, AI 학위, 개발 프로젝트","Google Analytics, Adobe Analytics, SQL, Tablea...",• 함께하는 성장을 위하여\n - 직무별 실무교육 및 스터디 지원\n - 외부교육 ...,＞ 매드업은 기술을 기반으로 디지털 마케팅 시장을 이끌어갑니다.\n \n 웹과 앱을...,시스템ㆍ응용 소프트웨어 개발 및 공급업,"모바일 마케팅 서비스, 애드네트워크",디지털 마케팅 솔루션 제공,정보기술(IT),마케팅,2015,264,"4,562",벤처기업 (비상장),벤처기업,비상장,337억,홈페이지 지원,3.3,3.4,2.2,3.4,3.6,3.0,55,64,50,"연봉 업계 평균 이상, 지속 성장중인 기업, 수평적인 기업 문화 ,커피\n \n 음...",131,113,https://www.wanted.co.kr/wd/213293

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 64 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     235 non-null    int64
 1   사이트            235 non-null    object
 2   검색 키워드         235 non-null    object
 3   기업이름           235 non-null    object
 4   포지션이름          235 non-null    object
 5   포지션이름 전처리      235 non-null    object
 6   포지션 세부         68 non-null     object
 7   마감일            235 non-null    object
 8   상시 채용 여부       235 non-null    int64
 9   경력_min         235 non-null    int64
 10  경력_max         235 non-null    int64
 11  학력             235 non-null    object
 12  학력 세부정보        63 non-null     object
 13  스킬             235 non-null    object
 14  제출서류           235 non-null    object
 15  채용절차           234 non-null    object
 16  채용형태           235 non-null    object
 17  채용형태_전처리       235 non-null    object
 18  채용형태_전처리 세부    235 non-null    object
 19  급여             235 non-null    object
 20  근무시간           235 non-null    object
 21  근무장소           235 non-null    object
 22  근무장소 시         235 non-null    object
 23  근무장소 구         235 non-null    object
 24  경기도 구          17 non-null     object
 25  근무형태           235 non-null    object
 26  주요업무           234 non-null    object
 27  인재상            5 non-null      object
 28  자격요건           235 non-null    object
 29  Hard Skill     235 non-null    object
 30  Soft Skill     235 non-null    object
 31  Tool           235 non-null    object
 32  우대사항           235 non-null    object
 33  hard plus      235 non-null    object
 34  soft plus      235 non-null    object
 35  tool plus      235 non-null    object
 36  복지             229 non-null    object
 37  기업소개           235 non-null    object
 38  표준산업분류         235 non-null    object
 39  주요사업           235 non-null    object
 40  주요사업.1         234 non-null    object
 41  산업군            234 non-null    object
 42  산업군 전처리        235 non-null    object
 43  설립             235 non-null    int64
 44  사원 수           235 non-null    object
 45  기업 평균 연봉       235 non-null    object
 46  기업유형           235 non-null    object
 47  기업 유형 전처리      235 non-null    object
 48  기업 유형 전처리 _세부  235 non-null    object
 49  매출액            235 non-null    object
 50  접수방법           235 non-null    object
 51  총점             235 non-null    float64
 52  복지 및 급여        235 non-null    float64
 53  업무와 삶의 균형      235 non-null    float64
 54  사내문화           235 non-null    float64
 55  승진 기회          235 non-null    float64
 56  경영진            235 non-null    float64
 57  기업추천율          235 non-null    int64
 58  CEO 지지율        235 non-null    int64
 59  성장 가능성         235 non-null    int64
 60  하이라이트+태그       235 non-null    object
 61  퇴사             235 non-null    int64
 62  입사             235 non-null    int64
 63  링크             235 non-null    object
dtypes: float64(6), int64(10), object(48)
memory usage: 117.6+ KB

In [12]:
# '999'를 '없음'으로 대체
df.replace('999', '없음', inplace=True)

HARD SKILL LABELING

In [13]:
df['Hard Skill']

0      통계 분석, 데이터 마이닝, 머신러닝, 딥러닝, 영상 데이터, 음성 데이터, 텍스트...
1                                  데이터 전처리, 데이터 분석 업무 경험
2      머신러닝, 딥러닝, 프레임워크, 협업 개발 툴, 데이터 분석 기법, 가설 검정, 회...
3                     데이터 웨어하우스 설계, 인프라 구축, 데이터 엔지니어링 경험
4      대형 플랫폼 데이터, 데이터 구조, 대용량트래픽 시스템, 데이터 설계, 구축, 서비...
                             ...
230                                         데이터 분석, 인공지능
231                      데이터 과학, 머신러닝, 딥러닝, 모델링, 비즈니스 분석
232    데이터 과학, 시계열 데이터, 탭 데이터, 데이터 분석, 프로그래밍 언어, 회귀 분...
233    데이터 분석, 빅데이터, 빅데이터 분석 플랫폼, 대용량 데이터 분산 처리, 모델링,...
234    데이터 분석, 통계, 머신러닝, 딥러닝, 알고리즘, 프레임워크, 모델링, 금융 데이...
Name: Hard Skill, Length: 235, dtype: object

In [14]:
# Hard Skill 열의 띄어쓰기 없애기
df['Hard Skill'] = df['Hard Skill'].apply(lambda x: x.replace(' ', ''))

# 결과 확인
print(df['Hard Skill'])

0      통계분석,데이터마이닝,머신러닝,딥러닝,영상데이터,음성데이터,텍스트데이터,데이터보안,...
1                                       데이터전처리,데이터분석업무경험
2      머신러닝,딥러닝,프레임워크,협업개발툴,데이터분석기법,가설검정,회귀,인과관계,상관관계...
3                            데이터웨어하우스설계,인프라구축,데이터엔지니어링경험
4                대형플랫폼데이터,데이터구조,대용량트래픽시스템,데이터설계,구축,서비스관리
                             ...
230                                           데이터분석,인공지능
231                            데이터과학,머신러닝,딥러닝,모델링,비즈니스분석
232    데이터과학,시계열데이터,탭데이터,데이터분석,프로그래밍언어,회귀분석,시계열모델링,머신...
233    데이터분석,빅데이터,빅데이터분석플랫폼,대용량데이터분산처리,모델링,머신러닝,딥러닝,프...
234    데이터분석,통계,머신러닝,딥러닝,알고리즘,프레임워크,모델링,금융데이터,금융서비스,빅...
Name: Hard Skill, Length: 235, dtype: object

In [15]:
# 각 행의 "Hard Skill" 열 값을 가져와서 쉼표로 분리하여 리스트로 만들기
words_list = df['Hard Skill'].apply(lambda x: x.split(','))

# 모든 리스트를 하나의 리스트로 합치기
all_words = [word.strip() for sublist in words_list for word in sublist]

# 고유한 단어 찾기
unique_words = set(all_words)

# 각 단어의 개수 세기
word_counts = {word: all_words.count(word) for word in unique_words}

# 단어의 개수를 기준으로 내림차순으로 정렬
sorted_word_counts = sorted(word_counts.items(), key=lambda x: x[1], reverse=True)

# 결과 출력
for word, count in sorted_word_counts:
    print(f"{word}: {count}")

데이터분석: 181
데이터시각화: 72
머신러닝: 66
모델링: 66
통계: 55
딥러닝: 45
데이터가공: 40
비즈니스분석: 36
데이터추출: 36
프로그래밍언어: 30
빅데이터: 29
App/Web서비스데이터: 27
코호트분석: 27
대시보드구축: 26
A/B테스트: 24
Funnel분석: 23
사용자행동로그: 21
Retention: 19
프레임워크: 17
: 15
데이터베이스: 15
데이터사이언스: 15
데이터전처리: 14
지표설정: 14
데이터정제: 13
알고리즘: 11
통계분석: 11
CLV: 11
클라우드환경: 9
데이터처리: 9
시계열데이터: 9
AARRR: 9
SQL고급능력: 9
데이터수집: 9
데이터마트: 9
데이터마이닝: 8
데이터웨어하우스: 7
데이터파이프라인구축: 6
ML: 5
회귀분석: 5
로그데이터: 5
없음: 5
자동화: 5
모델개발: 5
수학: 4
EDA: 4
비정형데이터: 4
게임데이터: 4
서비스분석: 4
마케팅: 4
데이터엔지니어링: 4
DL: 4
금융데이터: 4
인공지능: 3
데이터설계: 3
빅데이터분석: 3
통계학: 3
기획: 3
프로덕트데이터분석: 3
예측모델링: 3
AI: 3
데이터레이크: 3
빅데이터분석플랫폼: 3
백엔드개발: 3
프로젝트관리: 3
랜덤포레스트: 3
시계열분석: 3
데이터관리: 3
데이터과학: 3
데이터구조: 3
SQL중급능력: 3
가설검정: 3
회귀: 3
제품데이터: 3
최적화: 3
DataQualityManagement: 2
컴퓨터공학: 2
데이터컨설팅: 2
취약점분석: 2
차원모델링: 2
AI모델: 2
시계열모델링: 2
프로덕트분석: 2
다변량시계열데이터: 2
비즈니스컨설팅: 2
악성코드분석: 2
LTV: 2
CarryingCapacity: 2
금융서비스: 2
엔지니어링: 2
k-평균클러스터링: 2
신용평가모형: 2
재무: 2
검색시스템: 2
고객데이터: 2
데이터모델: 2
대용량데이터분산처리: 2
정량적분석: 2
비즈니스데이터: 2
CRM: 2
생성형AI: 2
실험설계: 2
SQL중급실력: 2
SQL: 2
CRM시스템: 2
프로덕트데이터: 2
BI: 2
서비스개선: 2
GA: 2
그래디언트부스팅트리: 2
신용데이터: 2
퍼널분석: 2
파이프라인구축: 2
통계적지식: 2
통계모델링: 2
ETL: 2
보고서작성: 2
DataGovernance: 2
고객행동데이터: 1
앱개발: 1
수치데이터분석: 1
데이터시각화대시보드구축: 1
스키마설계: 1
분산분석: 1
실험인사이트: 1
decisiontree: 1
데이터보안: 1
MMP: 1
전시: 1
문서: 1
플랫폼구축: 1
IT업계실무데이터: 1
데이터적재: 1
탭데이터: 1
데이터재구조화: 1
비즈니스분석분석컨설팅: 1
SaaS: 1
clustering: 1
Batch처리: 1
상관관계분석: 1
데이터엔지니어: 1
기초통계학지식: 1
서비스최적화: 1
데이터아키텍쳐: 1
대용량트래픽시스템: 1
recommendation: 1
광고매체데이터: 1
클라우드기반데이터: 1
행동로그설계: 1
선형회귀분석: 1
RESTfulAPI개발: 1
tabulardataset: 1
DB성능관리: 1
데이터베이스스키마정의: 1
FP&A: 1
서비스데이터분석: 1
웹작동방식최적화: 1
사회통계분석: 1
데이터관련업무: 1
BA: 1
프롬프트엔지니어링: 1
인하우스데이터분석: 1
시스템개발: 1
미디어플랫폼: 1
시장조사: 1
코딩: 1
모델개발능력: 1
사기탐지: 1
데이터분석툴: 1
인프라구축: 1
코딩경험: 1
neuralnetwork: 1
비즈니스분서그프로덕트분석: 1
플랫폼서비스: 1
AppleSearchAds: 1
광고/커머스지식: 1
시스템구축: 1
마케팅분석: 1
컴퓨터비전: 1
BI툴: 1
MRR: 1
정형데이터: 1
패스트패션소비재: 1
소프트웨어엔지니어링: 1
유전체분석: 1
데이터정의: 1
데이터서비스개발: 1
분석컨텐츠: 1
데이터엔지니어링경험: 1
개인화알고리즘: 1
분석설계: 1
추천시스템: 1
ML모델링: 1
광고관련업종: 1
성능평가: 1
이상탐지: 1
정량데이터: 1
제품분석: 1
PM: 1
Classification: 1
지표설계: 1
Meta: 1
플랫폼비즈니스: 1
ML모델개발: 1
온라인/소셜미디어분석: 1
문서작성: 1
상관분석: 1
리스크관리: 1
사용자데이터: 1
데이터분석업무경험: 1
로지스틱회귀: 1
문제해결: 1
영상데이터: 1
과학계산용라이브러리: 1
텍스트마이닝: 1
DA: 1
ML모델설계: 1
정성데이터: 1
OperationsResearch: 1
음성데이터: 1
GoogleAds: 1
Pandas: 1
딥러닝모델설계: 1
전략: 1
데이터고도화: 1
DW: 1
고객커뮤니케이션: 1
테이블구조생성: 1
유효성검사: 1
차이검증: 1
품질프로세스개선: 1
커뮤니티관리: 1
데이터관련경험: 1
ML솔루션호스팅: 1
분류모델: 1
리포팅: 1
신용평가모형개발: 1
소프트웨어개발: 1
몬테카를로시뮬레이션: 1
머신러닝알고리즘: 1
텍스트데이터: 1
교차분석: 1
Kimballenterprisedimensionalmodels기반설계: 1
코드작성: 1
소매: 1
다항로지스틱회귀: 1
데이터웨어하우스설계: 1
데이터품질관리: 1
디지털마케팅: 1
이미지데이터: 1
특허조사: 1
서비스운영: 1
협업개발툴: 1
컴퓨터과학분야학위: 1
프론트엔드개발: 1
인공지능모델개발: 1
시스템개발프로젝트: 1
레포트작성: 1
머신러닝예측모델링: 1
추천모델링: 1
코딩실력: 1
사용자구매및행동패턴데이터: 1
비정형데이터처리: 1
모델구축: 1
빅데이터핸들링역량: 1
구축: 1
AdobeAnalytics: 1
Cohort: 1
SQL활용능력상급: 1
커머스데이터: 1
데이터분석기법: 1
FeatureEngineering: 1
이커머스데이터: 1
ML모델: 1
사용자데이터기반의랭킹: 1
이공계연구경험: 1
컨텐츠제작: 1
가격탄력성: 1
빅데이터서비스: 1
마케팅데이터분석: 1
컨텐츠기획: 1
정량적데이터: 1
통계전문지식: 1
ML/DL모델: 1
광고데이터분석: 1
대형플랫폼데이터: 1
Anomalydetection: 1
GA4: 1
컨텐츠데이터: 1
예측모델: 1
탐색적분석: 1
제조업데이터: 1
디지털프로덕트개발: 1
MILP: 1
TabularDataset: 1
기초통계학: 1
공간정보: 1
비동기데이터처리: 1
게임: 1
특허조사분석: 1
RDB경험: 1
이커머스분석: 1
데이터처리지식: 1
검색: 1
데이터진단: 1
DL모델성능향상: 1
그로스해킹: 1
전자상거래: 1
검색운영기획: 1
연동분석: 1
배포: 1
개발및운영: 1
매출데이터: 1
항공: 1
영상처리: 1
서비스데이터: 1
부동산데이터: 1
Python중급능력: 1
Data/BusinessGlossary: 1
퍼포먼스마케팅: 1
통계적모델링: 1
인과관계: 1
상품데이터: 1
시스템확장: 1
대규모데이터: 1
데이터모델링: 1
엑셀: 1
이커머스데이터분석: 1
지표분석: 1
데이터파이프라인: 1
마케팅테크: 1
AWSarchitecture설계: 1
Prediction: 1
QA: 1
HR분석: 1
실시간대규모데이터: 1
Excel데이터분석: 1
Excel: 1
텍스트데이터분석: 1
CS서비스기획: 1
모니터링: 1
자연어처리: 1
교육프로그램기획: 1
소셜미디어마케팅: 1
고객데이터분석: 1
재무분석: 1
모바일서비스데이터: 1
모바일애플리케이션: 1
regression: 1
전략기획: 1
App/Web서비스: 1
보험: 1
KPI지표분석: 1
서비스관리: 1
로그데이터분석: 1
선형회귀: 1
백엔드BI: 1
Python: 1
CRMTool(Braze): 1
GMV: 1
대용량데이터분석: 1
리테일/생활용품산업: 1
고객사대상컨설팅: 1
레저: 1
분석도구활용: 1
신용평가업무: 1
과학계산용라이브러리활용능력: 1
통계방법론: 1
MMP(AppsFlyer): 1
Dplyr: 1
PO: 1

1. DA

In [16]:
# '데이터분석'이 포함된지 여부에 따라 1 또는 0을 값으로 갖는 'DA' 열 생성
df['DA'] = df['Hard Skill'].apply(lambda x: 1 if '데이터분석' in x else 0)

# 결과 확인
# df.head(3)

In [17]:
# 'DA' 컬럼에서 1로 표기된 개수 세기
da_count = df['DA'].sum()

# 결과 출력
print("DA 컬럼에 1로 표기된 개수:", da_count)

DA 컬럼에 1로 표기된 개수: 187

2. 통계

In [18]:
# '통계', '회귀', '로지스틱', '선형', '가설'이 포함된지 여부에 따라 1 또는 0을 값으로 갖는 '통계' 열 생성
keywords = ['통계', '회귀', '로지스틱', '선형', '가설', '정량', '상관']
df['통계'] = df['Hard Skill'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df.head(3)

,Unnamed: 0,사이트,검색 키워드,기업이름,포지션이름,포지션이름 전처리,포지션 세부,마감일,상시 채용 여부,경력_min,경력_max,학력,학력 세부정보,스킬,제출서류,채용절차,채용형태,채용형태_전처리,채용형태_전처리 세부,급여,근무시간,근무장소,근무장소 시,근무장소 구,경기도 구,근무형태,주요업무,인재상,자격요건,Hard Skill,Soft Skill,Tool,우대사항,hard plus,soft plus,tool plus,복지,기업소개,표준산업분류,주요사업,주요사업.1,산업군,산업군 전처리,설립,사원 수,기업 평균 연봉,기업유형,기업 유형 전처리,기업 유형 전처리 _세부,매출액,접수방법,총점,복지 및 급여,업무와 삶의 균형,사내문화,승진 기회,경영진,기업추천율,CEO 지지율,성장 가능성,하이라이트+태그,퇴사,입사,링크,DA,통계
0,0,원티드,데이터 분석가,제네시스랩,Data Scientist,데이터 사이언티스트,NaN,상시채용,1,3,15,없음,NaN,없음,자유이력서 (형식 무관),• 서류전형 ▷ AI영상면접(뷰인터HR) ▷ 과제(필요시) ▷ 인터뷰 ▷ 평판조회/...,• 정규직 (수습기간 3개월) \n • 수습기간 내 급여 100% 지급,정규직,수습 3개월,없음,없음,"서울 중구 명동길 73, 5층",서울,중,NaN,없음,• AI 기술에 기반한 HR Analytics\n • 딥러닝 모델 추론 결과 분석을...,NaN,관련업무 3년 이상 경력자 (또는 이에 준하는 실력을 겸비하신 분)\n • 통계 분...,"통계분석,데이터마이닝,머신러닝,딥러닝,영상데이터,음성데이터,텍스트데이터,데이터보안,...",분석적 사고,Python,딥러닝 추론 결과를 분석하여 모델 성능 향상에 기여한 경험이 있으신 분\n • AI...,"딥러닝, 딥러닝 추론 결과 분석 경험, 모델 성능 향상, AI, 데이터 수집, 데이...",AI 관심,없음,"제네시스랩은 자율적이며, 생산력 높은 업무 환경을 조성하고자 노력하고 있어요.\n ...","제네시스랩은 [인간에 대한 깊은 이해와 공감]을 바탕으로, AI 기술을 통한 인류...","컴퓨터 시스템 통합 자문, 구축 및 관리업",AI 영상면접 및 AI 인공지능 관련 기술 서비스,"AI 기술을 활용한 서비스 개발 (뷰인터HR, 쥬씨, 닥터리슨)","헬스케어, 소프트웨어",제조,2017,70,"5,663",스타트업,스타트업,없음,20억원,없음,3.6,3.3,4.1,3.6,3.2,3.5,72,73,62,"연봉 업계 평균 이상, 지속 성장중인 기업, 일한만큼 받는 보상 ,건강검진\n \n...",22,26,https://www.wanted.co.kr/wd/106376,0,1
1,1,원티드,데이터 분석가,에어프레미아랩스,Data Analyst,데이터 분석가,NaN,2024.4.14,0,5,6,없음,NaN,없음,없음,없음,정규직,정규직,없음,없음,없음,서울특별시 영등포구 여의도동,서울,영등포,NaN,없음,데이터에 기반한 비즈니스 인사이트 및 전략적 방향성을 제안합니다\n - 다양한 유관...,NaN,5년 이상의 데이터 분석 업무 경험 혹은 그에 준하는 역량이 있으신 분\n - 데이...,"데이터전처리,데이터분석업무경험","경력 5년, 데이터에 기반한 커뮤니케이션, 논리적 사고, 질문","SQL, Python",A/B 테스트 기반 가설 검증 경험이 있으신 분\n - BI Tool(Tableau...,"A/B 테스트, BI Tool, 데이터 시각화, 대시보드 구축, 데이터마트, 데이터...","새로운 도메인, 학구심, 도메인 지식, 비즈니스 임팩트, 인사이트 도출, 액션 도출...",없음,"최고급 디바이스 제공 (맥북프로 혹은 이에 준하는 기기), 테스크테리어 비용 30만...","에어프레미아는 벤처캐피탈, 사모펀드, 기관투자자 등으로부터 누적 2700억 원의 투...",시스템ㆍ응용 소프트웨어 개발 및 공급업,없음,항공 운송 서비스 제공,항공 및 여행,항공,2017,343,"5,852",중소기업,중소기업,없음,없음,없음,999.0,999.0,999.0,999.0,999.0,999.0,999,999,999,"수평적인 기업 문화\n ,스타트업\n \n IT, 컨텐츠",1,25,없음,1,0
2,2,"원티드,잡코리아",데이터 분석가,매드업,[광고사업부] 데이터 분석가,데이터 분석가,NaN,2024.5.1,0,3,7,대졸(4년),NaN,"Git, Google Analytics, Keras, Pytorch, Tensor...","이력서, 포트폴리오",서류 전형 ＞ 1차 인터뷰＞ 2차 인터뷰 ＞ 처우 협의 및 채용 확정,정규직 (수습 3개월),정규직,수습 3개월,회사내규에 따름,주5일 (월~금) 09:00~18:00\n탄력근무제,서울특별시 서초구 서초대로 74길 4 삼성생명 서초타워 20층,서울,서초,NaN,없음,• 고객의 중요한 비즈니스 문제를 데이터를 사용하여 해결하고 인사이트 추출\n • ...,NaN,• 데이터 중심의 작업 환경에서 3년 이상의 경력을 보유하신 분\n • 주요 머신러...,"머신러닝,딥러닝,프레임워크,협업개발툴,데이터분석기법,가설검정,회귀,인과관계,상관관계...","협업, 분석 및 문제 해결능력, 새로운 기술, 창의적 사고, 커뮤니케이션, 통찰력,...","TensorFlow, Kersas, PyTorch, ChatGPT, Stable D...","• Mobile Measurement Platforms, 구글 애널리틱스, 어도비 ...","Mobile Measurement Platforms, 데이터베이스, 데이터 시각화,...","컴퓨터 과학 학위, AI 학위, 개발 프로젝트","Google Analytics, Adobe Analytics, SQL, Tablea...",• 함께하는 성장을 위하여\n - 직무별 실무교육 및 스터디 지원\n - 외부교육 ...,＞ 매드업은 기술을 기반으로 디지털 마케팅 시장을 이끌어갑니다.\n \n 웹과 앱을...,시스템ㆍ응용 소프트웨어 개발 및 공급업,"모바일 마케팅 서비스, 애드네트워크",디지털 마케팅 솔루션 제공,정보기술(IT),마케팅,2015,264,"4,562",벤처기업 (비상장),벤처기업,비상장,337억,홈페이지 지원,3.3,3.4,2.2,3.4,3.6,3.0,55,64,50,"연봉 업계 평균 이상, 지속 성장중인 기업, 수평적인 기업 문화 ,커피\n \n 음...",131,113,https://www.wanted.co.kr/wd/213293,1,1

In [19]:
# '통계' 컬럼에서 1로 표기된 개수 세기
sta_count = df['통계'].sum()

# 결과 출력
print("통계 컬럼에 1로 표기된 개수:", sta_count)

통계 컬럼에 1로 표기된 개수: 75

3. ML

In [20]:
# Hard Skill 열의 영어 단어를 모두 소문자로 변환
df['Hard Skill'] = df['Hard Skill'].apply(lambda x: x.lower())

# 'ML' 컬럼 생성
keywords = ['머신러닝', '분류', '예측', '시계열', '클러스터링', 'classifica', 'clust', 'predict', 'feature', '부스팅', 'ml', '랜덤']
df['ML'] = df['Hard Skill'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인

In [2718]:
# df.head(5)

In [21]:
# 'ML' 컬럼에서 1로 표기된 개수 세기
df['ML'].sum()

75

4. DL

In [22]:
# Hard Skill 열의 영어 단어를 모두 소문자로 변환
df['Hard Skill'] = df['Hard Skill'].apply(lambda x: x.lower())

# 'DL' 컬럼 생성
keywords = ['딥러닝', '알고리즘', '프레임워크', 'dl', 'recom', '차원', 'tree', '검색', '자연어', '추천', 'demen', '프롬프트', '텍스트', '영상', '이미지', '자연어']
df['DL'] = df['Hard Skill'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
# df.head(5)

In [23]:
df['DL'].sum()

59

In [2722]:
# df[df['Hard Skill'].str.contains('딥러닝')].head(5)

5. 시각화

In [24]:
# '시각화' 컬럼 생성
keywords = ['시각화', 'tableau', 'bi', '대시보드']
df['시각화'] = df['Hard Skill'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['시각화'].sum()

78

6. 데이터 가공

In [25]:
# '데이터 가공' 컬럼 생성
keywords = ['전처리', '처리', '가공', '추출', '수집', 'eda']
df['데이터 가공'] = df['Hard Skill'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['데이터 가공'].sum()

88

In [2725]:
# df[df['데이터 가공'] == 1].head(5)

In [26]:
# 특정 단어가 포함된 단어의 개수 세기
df['Hard Skill'].apply(lambda x: 1 if '데이터베이스' in x else 0).sum()

16

7. 빅데이터

In [27]:
# '빅데이터' 컬럼 생성
keywords = ['대용량', '빅데이터']
df['빅데이터'] = df['Hard Skill'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['빅데이터'].sum()

35

8. 클라우드

In [28]:
# '클라우드' 컬럼 생성
keywords = ['aws', 'ga4', 'ga', '클라우드', 'saas', 'bigquery']
df['클라우드'] = df['Hard Skill'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['클라우드'].sum()

15

In [2729]:
# df[df['클라우드'] == 1].head(5)

In [29]:
# 특정 단어가 포함된 단어의 개수 세기
df['Hard Skill'].apply(lambda x: 1 if 'ga4' in x else 0).sum()

1

9. 파이프라인

In [43]:
# '파이프라인' 컬럼 생성
keywords = ['마트', '웨어하우스', '레이크', '파이프라인', '인프라', '품질', '데이터베이스']
df['파이프라인'] = df['Hard Skill'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['파이프라인'].sum()

33

10. 그로스해킹

In [30]:
# '그로스해킹' 컬럼 생성
keywords = ['funnel', 'cohort', 'aarrr', 'ltv', 'clv', 'cltv', 'retention', 'a/b', '퍼널', '코호트', '그로스', '지표', '비즈니스']
df['그로스해킹'] = df['Hard Skill'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['그로스해킹'].sum()

68

In [31]:
# 특정 단어가 포함된 단어의 개수 세기
df['Hard Skill'].apply(lambda x: 1 if '리텐션' in x else 0).sum()

0

In [2734]:
# df[df['그로스해킹'] == 1].head(5)

11. 로그 : App/Web, 행동, 로그

In [32]:
# '로그' 컬럼 생성
keywords = ['app/web', '사용자', '행동', '로그']
df['로그'] = df['Hard Skill'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['로그'].sum()

67

In [33]:
# 특정 단어가 포함된 단어의 개수 세기
df['Hard Skill'].apply(lambda x: 1 if '로그' in x else 0).sum()

58

In [2737]:
# df[df['그로스해킹'] == 1].head(5)

In [2738]:
# df[df['Hard Skill'].str.contains('로그')].head(5)

12. 마케팅 : 마케팅, 프로덕트, PO, PM, 커머스, 비즈니스

In [34]:
# '마케팅' 컬럼 생성
keywords = ['마케팅','프로덕트', '커머스', '비즈니스', '서비스']
df['마케팅'] = df['Hard Skill'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['마케팅'].sum()

86

In [35]:
# 특정 단어가 포함된 단어의 개수 세기
df['Hard Skill'].apply(lambda x: 1 if '서비스' in x else 0).sum()

41

In [36]:
df[df['마케팅'] == 1].head(5)

,Unnamed: 0,사이트,검색 키워드,기업이름,포지션이름,포지션이름 전처리,포지션 세부,마감일,상시 채용 여부,경력_min,경력_max,학력,학력 세부정보,스킬,제출서류,채용절차,채용형태,채용형태_전처리,채용형태_전처리 세부,급여,근무시간,근무장소,근무장소 시,근무장소 구,경기도 구,근무형태,주요업무,인재상,자격요건,Hard Skill,Soft Skill,Tool,우대사항,hard plus,soft plus,tool plus,복지,기업소개,표준산업분류,주요사업,주요사업.1,산업군,산업군 전처리,설립,사원 수,기업 평균 연봉,기업유형,기업 유형 전처리,기업 유형 전처리 _세부,매출액,접수방법,총점,복지 및 급여,업무와 삶의 균형,사내문화,승진 기회,경영진,기업추천율,CEO 지지율,성장 가능성,하이라이트+태그,퇴사,입사,링크,DA,통계,ML,DL,시각화,데이터 가공,빅데이터,클라우드,그로스해킹,로그,마케팅
4,4,"원티드,사람인",데이터 분석가,빗썸코리아,데이터 분석 개발자,데이터 분석 개발자,NaN,상시채용,1,4,12,대졸(4년),NaN,"AWS, BigData, Python, Spark, R",이력서,• 서류전형 ＞ 1차 기술 인터뷰 ＞ 2차 임원 인터뷰 ＞ 최종합격,정규직 수습기간 3개월,정규직,수습 3개월,회사내규에 따름,주 5일(월~금),"서울시 강남구 테헤란로 124, 삼원타워 14~18F",서울,강남,NaN,없음,On-premise 데이터 시스템 구축 및 관리\n • 클라우드 기반 데이터 시스템...,NaN,• 4년 이상의 금융(가상자산 포함) 혹은 대형 플랫폼 데이터 관련 업무 경력이 있...,"대형플랫폼데이터,데이터구조,대용량트래픽시스템,데이터설계,구축,서비스관리","개발 조직 협업, 금융 산업 경력",없음,• 데이터 파이프라인 구축 경험이 있으신 분\n • 웹크롤링 / RESTful AP...,"데이터 파이프라인 구축, 웹 크롤링, RESTful API","관련 전공, 고객 중심 사고, 데이터 기반 의사결정, 협업 능력, 커뮤니케이션",없음,업무에 몰입할 수 있는 환경을 조성합니다.]\n \n • 비포괄임금제 | 일한만큼 ...,"세상의 모든 가치가 거래되는 곳,\n 대한민국 대표 가상자산 거래소 빗썸에서 함께 ...",통신 판매업/전자상거래 소매업,"전자상거래/여신금융/소프트웨어 개발,공급,정보서비스",가상자산 거래소 운영,금융,금융,2014,395,"9,928",중소기업,중소기업,없음,1조원,점핏에서 지원,3.2,4.0,2.8,2.7,3.2,2.5,51,43,40,"연봉 업계 평균 이상, 지속 성장중인 기업, 퇴사율 10% 이하 ,어린이집\n \n...",85,105,https://www.wanted.co.kr/wd/214874,0,0,0,0,0,0,1,0,0,0,1
11,11,원티드,데이터 분석가,버즈빌,Data Analyst,데이터 분석가,NaN,상시채용,1,4,10,없음,NaN,없음,• 사전과제: SQL 테스트 \n • 1차 인터뷰(Job-fit): 실무진 인터뷰\...,"• 서류전형: 경력기술 중심의 이력서, 본인이 진행했던 프로젝트에 대한 문제해결 과...",정규직,정규직,없음,없음,없음,서울특별시 송파구 석촌호수로 272 MY빌딩 2~5층,서울,송파,NaN,없음,버즈빌 Data Analytics 팀은 비즈니스와 제품의 성공을 가속화하기 위해 일...,NaN,논리적이고 분석적인 사고력을 갖추신 분\n • 데이터를 활용하여 문제를 정의하고 실...,"aarrr,funnel분석,carryingcapacity,코호트분석,프레임워크,데이...","논리적 사고, 분석적 사고, 문제 정의, 인사이트 도출, 액션 도출, 경력 2년","SQL, Python, R",• 버즈빌의 Mission & Vision에 관심을 가진 분\n • 리워드를 기반으...,"데이터 마이닝, 통계적 분석, 대용량 데이터 분산처리, 데이터베이스, 제품-유저 인...","회사 목표에 관심, B2B2C 사업 경험, 모바일 광고 도메인 경험, 문제 정의, ...",없음,• 주 1회 전사 재택근무\n • 오전 8시-10시 사이 자율 출퇴근 제도\n • ...,"""리워드 기반의 애드테크 기업, 버즈빌""\n \n 마케팅부터 수익화까지, 브랜드의 ...",광고 대행업,Mobile Ad Platform,리워드 기반 애드테크 솔루션 제공,마케팅 및 광고,마케팅,2013,108,"6,969",스타트업,스타트업,없음,"690억 9,875만원",없음,4.0,3.6,3.8,4.2,3.7,4.0,73,89,44,"연봉 업계 평균 이상, 지속 성장중인 기업, 퇴사율 10% 이하 ,음료\n \n 간...",29,24,https://www.wanted.co.kr/wd/202826,1,0,0,1,0,0,0,0,1,0,1
14,14,원티드,데이터 분석가,닥터나우,데이터 분석가,데이터 분석가,NaN,상시채용,1,2,7,없음,NaN,없음,구비 서류: 자유양식의 이력서 또는 경력기술(PDF 형식),채용 절차: 서류 심사 ＞ 기술 인터뷰 ＞ 핏 인터뷰 ＞ 최종 합격 ＞ 처우 협의 ...,정규직,정규직,없음,없음,없음,"서울시 강남구 역삼로17길 51, 중경미드타운센터 6층",서울,강남,NaN,없음,• 데이터 기반으로 회사 전략 방향성에 대한 의견 제시 및 제안\n • 데이터 기반...,NaN,• SQL 등을 통해 복잡한 데이터 셋에서 원하는 데이터를 추출 및 가공할 수 있으...,"데이터추출,데이터가공,데이터분석,마케팅,비즈니스데이터,제품데이터,","가설 검증, 문제 정의, 논리적 사고, 분석적 사고, 커뮤니케이션, 책임감, 경력 2년","SQL, Python",• 앱 개발이나 헬스케어 관련 비즈니스에 이해도 높음\n • 클라우드 및 Hadoo...,"앱 개발, 클라우드 환경, 대용량 데이터 분석, 빅 데이터, 로그 데이터, 데이터 ...","분석 프로세스 경험, 프로젝트 경험, 플랫폼 비즈니스 이해, 고객 중심 사고, 유저...",Hadoop,자율 출퇴근제 운영(코어타임 오전 11시 ~ 오후 4시)\n - 자유로운 휴가 무제...,[대한민국 1위 의료혁신 서비스 닥터나우]\n \n 닥터나우는 의료 서비스의 혁신을...,시스템ㆍ응용 소프트웨어 개발 및 공급업,디지털 헬스케어 플랫폼,의료 서비스 및 의료 슈퍼앱 개발,의료 및 건강,의료,2019,57,6303,중소기업,중소기업,없음,5914만원,없음,2.5,3.0,2.2,2.6,2.9,2.2,19,29,19,"퇴사율 10% 이하, 병역 대체 가능\n ,건강검진\n \n 산업기능요원\n \n...",999,999,https://www.wanted.co.kr/wd/203918,1,0,0,0,0,1,0,0,1,0,1
21,21,"원티드,링크드인",데이터 분석가,쿠팡,Senior Data Analyst (CX Product)/Senior Data A...,데이터 분석가,cx product,상시채용,1,5,20,없음,NaN,"데이터 분석, Dimensional Modeling, ETL, HQL, Statis...",없음,• 서류전형 - 쿼리테스트 - 1차 화상면접 - 2차 화상면접 - 최종 합격,정규직,정규직,없음,없음,풀타임,서울특별시 송파구 송파대로 570,서울,송파,NaN,없음,가설 검증 : 가설을 세우고 기회에 대해 검증을 실시합니다. 비즈니스 KPI와 고객...,NaN,"· 정량분야의 학사 (STEM, Finance, Economics, Statisti...","비즈니스분석,데이터분석,데이터사이언스,모델링,차원모델링,빅데이터,데이터시각화,통계","분석적 사고, 디테일, 비즈니스 감각, 효율적, 빠르고 역동적인 환경, 멀티테스킹 ...","SQL, HQL, ETL, Hadoop, Spark, Presto, Excel, T...",· 공학 및 비지니스 학위 (석/박사 or MBA)\n · 통계 분석을 위한 Pyt...,"통계, 통계적 분석, 데이터 시각화, 머신러닝, 모델링, 딥러닝, A/B 테스트","관련 전공, 석사, 박사, MBA","Python, R, SAS, Hive, Presto, Airflow, ableau,...",없음,"쿠팡은 고객이 쿠팡 앱을 열어보는 순간부터 상품을 문 앞으로 배송 받는 순간까지, ...",통신 판매업/소프트웨어 개발,없음,엔드투엔드 이커머스 및 물류 네트워크 운영,커머스 및 판매,이커머스,2013,10485,"4,898",대기업,대기업,없음,20.3조,없음,3.2,3.0,3.1,3.2,2.8,2.7,47,57,43,"연봉 업계 평균 이상, 수평적인 기업 문화, 퇴사율 10% 이하 ,스타트업\n \n...",12878,5708,"https://www.wanted.co.kr/wd/200992,https://lin...",1,1,0,1,1,0,1,0,1,0,1
22,22,원티드,데이터 분석가,우아한청년들,딜리버리 인사이트 데이터 분석가(Business Analyst),데이터 분석가,딜리버리 인사이트 데이터 분석,상시채용,1,5,10,[우대] 관련 학사,데이터분석/통계/수학,없음,없음,채용프로세스 상 서류전형 이후부터는 우아한청년들 채용시스템을 통해서 면접전형이 진행...,정규직,정규직,없음,없음,없음,서울특별시 송파구 올림픽로35다길 32 예전빌딩 9층,서울,송파,NaN,없음,[운영분석파트 주요업무]\n - 신규 비지니스(안)에 대해 배민배달 고객경험/라이...,NaN,5년 이상 SQL을 활용한 데이터 분석 경험을 보유하신 분 \n - SQL을 활용한...,"데이터분석,비즈니스분석,데이터시각화","논리적 사고, 커뮤니케이션, 액션플랜 도출, 경력 5년","SQL, BI",테이블간 관계를 이해하고 새로운 정량지표를 개발한 경험을 보유하신 분\n - 프로덕...,"데이터 분석, 통계, 수학, 지표 설계 데이터 시각화","협업 능력, 커뮤니케이션, 인사이트 도출, 관련 전공","Tableau, Redash, Python, SQL",• 일한 만큼 드립니다. 주 35시간 근무 초과시 분 단위로 지급되는 연장수당\n ...,대한민국 퀵커머스 시장을 선도하는 배민B마트와\n 한 번에 한 집만 빠르게 배달하는...,소화물 전문 운송업,"음식배달 대행/물류센터,물류터미널 운영,육상 운송지원/프랜차이즈",퀵커머스 및 배달 서비스 운영,커머스 및 판매,이커머스,2015,1525,"2,914",중견기업,중소기업,없음,"1조 1,296억 7,493만원",없음,3.3,2.8,3.4,2.8,2.8,2.8,45,58,39,"지속 성장중인 기업, 다양한 근무 지원 제도 운영, 재택근무 ,재택근무\n \n 복...",2125,2280,https://www.wanted.co.kr/wd/214700,1,0,0,0,1,0,0,0,1,0,1

13. 도메인 : 금융, 게임, 재무, 신용, CRM, 광고, 컨텐츠, 매출, 제품,유전,특허, 퍼포먼스, 교육, 고객. 리테일, 보험, 컨텐츠, 전자, 패션, 연구, 온라인, 공간, 제조, CS, 항공, HR, 제품, 인하우스

In [37]:
# '도메인' 컬럼 생성
keywords = ['금융', '게임', '재무', '신용', 'CRM', '광고', '컨텐츠', '매출', '제품', '유전', '특허', '퍼포먼스', '교육', '고객', '리테일', '보험', '컨텐츠', '전자', '패션', '연구', '온라인', '공간', '제조', 'CS', '항공', 'HR', '제품', '인하우스']
df['도메인'] = df['Hard Skill'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['도메인'].sum()

39

In [ ]:
df[df['도메인'] == 1].head(5)

14. 프로그래밍 언어 : SQL, Python, r, Java, tool, 프로그래밍

In [39]:
# '프로그래밍언어' 컬럼 생성
keywords = ['sql', 'python', '프로그래밍', '툴']
df['프로그래밍언어'] = df['Hard Skill'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['프로그래밍언어'].sum()

49

In [40]:
# 특정 단어가 포함된 단어의 개수 세기
df['Hard Skill'].apply(lambda x: 1 if 'sql' in x else 0).sum()

17

In [2746]:
# df[df['프로그래밍언어'] == 1].head(5)

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 77 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     235 non-null    int64
 1   사이트            235 non-null    object
 2   검색 키워드         235 non-null    object
 3   기업이름           235 non-null    object
 4   포지션이름          235 non-null    object
 5   포지션이름 전처리      235 non-null    object
 6   포지션 세부         68 non-null     object
 7   마감일            235 non-null    object
 8   상시 채용 여부       235 non-null    int64
 9   경력_min         235 non-null    int64
 10  경력_max         235 non-null    int64
 11  학력             235 non-null    object
 12  학력 세부정보        63 non-null     object
 13  스킬             235 non-null    object
 14  제출서류           235 non-null    object
 15  채용절차           234 non-null    object
 16  채용형태           235 non-null    object
 17  채용형태_전처리       235 non-null    object
 18  채용형태_전처리 세부    235 non-null    object
 19  급여             235 non-null    object
 20  근무시간           235 non-null    object
 21  근무장소           235 non-null    object
 22  근무장소 시         235 non-null    object
 23  근무장소 구         235 non-null    object
 24  경기도 구          17 non-null     object
 25  근무형태           235 non-null    object
 26  주요업무           234 non-null    object
 27  인재상            5 non-null      object
 28  자격요건           235 non-null    object
 29  Hard Skill     235 non-null    object
 30  Soft Skill     235 non-null    object
 31  Tool           235 non-null    object
 32  우대사항           235 non-null    object
 33  hard plus      235 non-null    object
 34  soft plus      235 non-null    object
 35  tool plus      235 non-null    object
 36  복지             229 non-null    object
 37  기업소개           235 non-null    object
 38  표준산업분류         235 non-null    object
 39  주요사업           235 non-null    object
 40  주요사업.1         234 non-null    object
 41  산업군            234 non-null    object
 42  산업군 전처리        235 non-null    object
 43  설립             235 non-null    int64
 44  사원 수           235 non-null    object
 45  기업 평균 연봉       235 non-null    object
 46  기업유형           235 non-null    object
 47  기업 유형 전처리      235 non-null    object
 48  기업 유형 전처리 _세부  235 non-null    object
 49  매출액            235 non-null    object
 50  접수방법           235 non-null    object
 51  총점             235 non-null    float64
 52  복지 및 급여        235 non-null    float64
 53  업무와 삶의 균형      235 non-null    float64
 54  사내문화           235 non-null    float64
 55  승진 기회          235 non-null    float64
 56  경영진            235 non-null    float64
 57  기업추천율          235 non-null    int64
 58  CEO 지지율        235 non-null    int64
 59  성장 가능성         235 non-null    int64
 60  하이라이트+태그       235 non-null    object
 61  퇴사             235 non-null    int64
 62  입사             235 non-null    int64
 63  링크             235 non-null    object
 64  DA             235 non-null    int64
 65  통계             235 non-null    int64
 66  ML             235 non-null    int64
 67  DL             235 non-null    int64
 68  시각화            235 non-null    int64
 69  데이터 가공         235 non-null    int64
 70  빅데이터           235 non-null    int64
 71  클라우드           235 non-null    int64
 72  그로스해킹          235 non-null    int64
 73  로그             235 non-null    int64
 74  마케팅            235 non-null    int64
 75  도메인            235 non-null    int64
 76  프로그래밍언어        235 non-null    int64
dtypes: float64(6), int64(23), object(48)
memory usage: 141.5+ KB

Hard Skill 라벨링 확인

In [44]:
selected_columns = ['Unnamed: 0', '기업이름', '포지션이름', 'Hard Skill', 'DA', '통계', 'ML', 'DL', '데이터 가공', '파이프라인', '클라우드', '그로스해킹', '로그', '마케팅', '빅데이터', '도메인', '프로그래밍언어', '시각화']
selected_df = df[selected_columns]
selected_df

,Unnamed: 0,기업이름,포지션이름,Hard Skill,DA,통계,ML,DL,데이터 가공,파이프라인,클라우드,그로스해킹,로그,마케팅,빅데이터,도메인,프로그래밍언어,시각화
0,0,제네시스랩,Data Scientist,"통계분석,데이터마이닝,머신러닝,딥러닝,영상데이터,음성데이터,텍스트데이터,데이터보안,...",0,1,1,1,1,0,0,0,0,0,0,0,0,0
1,1,에어프레미아랩스,Data Analyst,"데이터전처리,데이터분석업무경험",1,0,0,0,1,0,0,0,0,0,0,0,0,0
2,2,매드업,[광고사업부] 데이터 분석가,"머신러닝,딥러닝,프레임워크,협업개발툴,데이터분석기법,가설검정,회귀,인과관계,상관관계...",1,1,1,1,0,0,0,0,0,0,0,0,1,0
3,3,이글루코퍼레이션,데이터 분석 엔진 개발,"데이터웨어하우스설계,인프라구축,데이터엔지니어링경험",0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,4,빗썸코리아,데이터 분석 개발자,"대형플랫폼데이터,데이터구조,대용량트래픽시스템,데이터설계,구축,서비스관리",0,0,0,0,0,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,230,현대자동차,[ICT] Data Scientist - 고객판매 데이터분석,"데이터분석,인공지능",1,0,0,0,0,0,0,0,0,0,0,0,0,0
231,231,"QuantumBlack, AI by McKinsey","Data Scientist - QuantumBlack, AI by McKinsey","데이터과학,머신러닝,딥러닝,모델링,비즈니스분석",0,0,1,1,0,0,0,1,0,1,0,0,0,0
232,232,Boeing,Data Scientist,"데이터과학,시계열데이터,탭데이터,데이터분석,프로그래밍언어,회귀분석,시계열모델링,머신...",1,1,1,1,1,1,0,0,1,0,0,0,1,1
233,233,Viva Republica (Toss),Data Scientist (CSS),"데이터분석,빅데이터,빅데이터분석플랫폼,대용량데이터분산처리,모델링,머신러닝,딥러닝,프...",1,0,1,1,1,0,0,0,0,1,1,1,0,0
234,234,Toss Bank(토스뱅크),Data Scientist,"데이터분석,통계,머신러닝,딥러닝,알고리즘,프레임워크,모델링,금융데이터,금융서비스,빅...",1,1,1,1,1,0,0,0,0,1,1,1,0,0

In [52]:
df.columns

Index(['Unnamed: 0', '사이트', '검색 키워드', '기업이름', '포지션이름', '포지션이름 전처리', '포지션 세부 ',
       '마감일', '상시 채용 여부', '경력_min', '경력_max', '학력', '학력 세부정보', '스킬', '제출서류',
       '채용절차', '채용형태', '채용형태_전처리', '채용형태_전처리 세부', '급여', '근무시간', '근무장소',
       '근무장소 시', '근무장소 구', '경기도 구 ', '근무형태', '주요업무', '인재상', '자격요건',
       'Hard Skill', 'Soft Skill', 'Tool', '우대사항', 'hard plus', 'soft plus',
       'tool plus', '복지', '기업소개', '표준산업분류', '주요사업', '주요사업.1', '산업군', '산업군 전처리',
       '설립', '사원 수', '기업 평균 연봉', '기업유형', '기업 유형 전처리', '기업 유형 전처리 _세부', '매출액',
       '접수방법', '총점', '복지 및 급여', '업무와 삶의 균형', '사내문화', '승진 기회', '경영진', '기업추천율',
       'CEO 지지율', '성장 가능성', '하이라이트+태그', '퇴사', '입사', '링크', 'DA', '통계', 'ML',
       'DL', '시각화', '데이터 가공', '빅데이터', '클라우드', '그로스해킹', '로그', '마케팅', '도메인',
       '프로그래밍언어', '파이프라인'],
      dtype='object')

In [53]:
df.to_csv('df.csv')

In [51]:
hardskill_df.columns

Index(['Unnamed: 0', 'DA', '통계', 'ML', 'DL', '데이터 가공', '파이프라인', '클라우드',
       '그로스해킹', '로그', '마케팅', '빅데이터', '도메인', '프로그래밍언어', '시각화'],
      dtype='object')

그냥 해보는 코사인 유사도

In [45]:
hard_skills = ['Unnamed: 0', 'DA', '통계', 'ML', 'DL', '데이터 가공', '파이프라인', '클라우드', '그로스해킹', '로그', '마케팅', '빅데이터', '도메인', '프로그래밍언어', '시각화']
hardskill_df = df[hard_skills]
hardskill_df

,Unnamed: 0,DA,통계,ML,DL,데이터 가공,파이프라인,클라우드,그로스해킹,로그,마케팅,빅데이터,도메인,프로그래밍언어,시각화
0,0,0,1,1,1,1,0,0,0,0,0,0,0,0,0
1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0
2,2,1,1,1,1,0,0,0,0,0,0,0,0,1,0
3,3,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,230,1,0,0,0,0,0,0,0,0,0,0,0,0,0
231,231,0,0,1,1,0,0,0,1,0,1,0,0,0,0
232,232,1,1,1,1,1,1,0,0,1,0,0,0,1,1
233,233,1,0,1,1,1,0,0,0,0,1,1,1,0,0
234,234,1,1,1,1,1,0,0,0,0,1,1,1,0,0

In [50]:
hardskill_df.to_csv('hardskill.csv')

In [46]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import StandardScaler

# 데이터 스케일링
scaler = StandardScaler()
scaled_df = scaler.fit_transform(hardskill_df.iloc[:, 1:])

# 코사인 유사도 계산
cosine_sim = cosine_similarity(scaled_df)

# 결과 확인
print(cosine_sim)

[[ 1.          0.0435867   0.45009225 ...  0.27082433  0.19467797
   0.35165689]
 [ 0.0435867   1.         -0.2440573  ... -0.29875594 -0.07083253
  -0.19263382]
 [ 0.45009225 -0.2440573   1.         ...  0.45989174  0.05126018
   0.22000924]
 ...
 [ 0.27082433 -0.29875594  0.45989174 ...  1.         -0.02059991
   0.1094564 ]
 [ 0.19467797 -0.07083253  0.05126018 ... -0.02059991  1.
   0.89885979]
 [ 0.35165689 -0.19263382  0.22000924 ...  0.1094564   0.89885979
   1.        ]]

In [ ]:
import numpy as np

# 'Unnamed: 0' 컬럼의 인덱스
index = 47

# 가장 유사한 데이터의 인덱스 찾기
similar_indices = np.argsort(cosine_sim[index])[::-1][1:6]  # 자기 자신을 제외한 가장 유사한 5개의 데이터 인덱스

# 가장 유사한 데이터 출력
similar_data = df.iloc[similar_indices]
print(similar_data)

In [ ]:
# 'Unnamed: 0' 컬럼의 인덱스
index = 47

# 가장 유사한 데이터의 인덱스 찾기
similar_indices = np.argsort(cosine_sim[index])[::-1][1:6]  # 자기 자신을 제외한 가장 유사한 5개의 데이터 인덱스

# 가장 유사한 데이터의 인덱스와 138번 데이터의 인덱스를 합쳐서 추출
target_indices = similar_indices.tolist() + [index]

# 추출된 인덱스를 사용하여 데이터프레임에서 데이터 추출
similar_data = df.iloc[target_indices]
similar_data

Soft Skill

In [2753]:
# Soft Skill 열의 띄어쓰기 없애기
df['Soft Skill'] = df['Soft Skill'].apply(lambda x: x.replace(' ', ''))

# 결과 확인
print(df['Soft Skill'])

0                                                  분석적사고
1                            경력5년,데이터에기반한커뮤니케이션,논리적사고,질문
2               협업,분석및문제해결능력,새로운기술,창의적사고,커뮤니케이션,통찰력,경력3년
3                                                   경력6년
4                                          개발조직협업,금융산업경력
                             ...
230                                     경력3년,통계학/컴퓨터공학학사
231    문제해결능력,영어로소통,커뮤니케이션,협업능력,창의력,컴퓨터과학/응용통계학/수학학사,...
232    창의력,비판적사고,문제해결능력,커뮤니케이션,협업능력,배움에대한열정,논리적사고,빠른변...
233                                               문제해결능력
234                                    의사결정,문제해결능력,방향성제시
Name: Soft Skill, Length: 235, dtype: object

In [ ]:
# 각 행의 "Soft Skill" 열 값을 가져와서 쉼표로 분리하여 리스트로 만들기
soft_skills_list = df['Soft Skill'].apply(lambda x: x.split(','))

# 모든 리스트를 하나의 리스트로 합치기
all_soft_skills = [skill.strip() for sublist in soft_skills_list for skill in sublist]

# 고유한 스킬 찾기
unique_soft_skills = set(all_soft_skills)

# 각 스킬의 개수 세기
soft_skill_counts = {skill: all_soft_skills.count(skill) for skill in unique_soft_skills}

# 스킬의 개수를 기준으로 내림차순으로 정렬
sorted_soft_skill_counts = sorted(soft_skill_counts.items(), key=lambda x: x[1], reverse=True)

# 결과 출력
for skill, count in sorted_soft_skill_counts:
    print(f"{skill}: {count}")

In [2755]:
print(unique_soft_skills)

{'', '커리어개발관심', '박사', '경력4년', '수학/통계/산업공학학위', '데이터산업과기술에대한열정', '통계학학사', '자율동기부여', '협업', '능동적', '주도적타임라인관리', '포트폴리오', '세밀함', '논문리딩', '비즈니스에대한깊은이해', '경력2넌', '서비스PMF', '전략구축', '분석적사고', '액션플랜도출', 'Dat', '전략적접근', '문서화능력', '성과지향적', '적응력', '비즈니스인텔리전스리포팅', '원만한대인관계', '빠른이해', '데이터주도적문화조성', 'AI활용', '빠르고역동적인환경', '우선순위설정', '협업능력', '비즈니스관점', 'IT관련학사', '인공지능에대한깊은이해', '세미나', 'Chat애플리케이션과같은소셜미디어플랫폼에대한강력한친숙함과이해', '관련분야학위', '빠른환경', '적극적이고능동적인마인드', '의사소통', 'DataQuality&DataGovernance에대한이해', '창의력', 'IT유관기업경험', '정확성', '실행능력', '빠른러닝커브', '집요하게파고드는성향', '지속성장추구', '기술적피드백가능', '경험공유', '성과중심적', '없음', '통계리포트작성', '자기동기부여', 'Instagram', '컴퓨터과학/응용통계학/수학학사', '데이터사이언스경력3년', '효율적', '경력5~8년', '분석적사고커뮤니케이션', 'MBTi', '가설설정', '예측적', '경력5~10년', '적극성', '분석및문제해결능력', '데이터전략수립', '피드백제공', '주도적이고적극적인자세', '인내와끈기', '팀원들과의커뮤니케이션능력', '분석리포트작성', '마케팅경험', '질문', '분석방법론', '경력3~8년', '주니어', '기본코딩', '긍정적인태도', '개발지식', '컴퓨터과학', '설득력', '넥슨게임에대한관심', '논리적정보구조화', '자기주도성', '동반성장', '직무에대한보람', '고객지향', '논문학습', '구조적사고', '통계적이해', '통계학/공학/경영학학사', '리더십', '멀티태스킹', '문제해결', '데이터스토리텔링', '모바일서비스데이터분석방법에대한이해', '컴퓨터공학/통계학/생명정보학학위', '성실성', '생물정보학/유전학/컴퓨터공학학사', '꼼꼼하고성실한성격의소유자', '코드리뷰', '창의성', '경력2년', '전략적', 'SEO에대한이해', '경력5년', '파견근무', 'Agile조직경험', '직무에대한자부심', '경력3년', '이공계열학위', '인사이트도출', '조사설계', '데이터문해력', '통계학/수학학위', '통계학/수학/산업공학학사', '데이터과학', '게임플레이경험', '영어논문활용한지식습득', '논리적사고', '결과해석', '프로토타이핑', '게임및게임유저에대한이해도', '에이블리조직문화이해', '비즈니스이해', '적극적인태도', '성과분석', '문제정의가설검증', 'YouTube', '성과개선경험', '서비스리딩', '빠른변화에대한적응력', '석박사', '원활한커뮤니케이션', '컴퓨터과학/수학/과학석사', '액션도출전사적조직목표에대한이해', '비즈니스논리', '금융산업경력', '영어논문이해', '경력10년', '방향성제시', '프로덕트관리', '통계학/운영연구/생물정보학/경제학/계산생물학/컴퓨터과학/수학/물리학/전기공학/산업공학전공', '개발조직협업', '언론사및미디어에대한이해', '능동적인마인드', '문제해결능력인사이트도출', '컴퓨터공학/수학학사', '정리능력', '비즈니스적관점', 'AI활용능력', '가설검증', '긍정적인관계구축', '긍정적', 'Twitter', '디테일지향성', '경력2~5년', '경력6년', '영어로소통', '박사학위', '문서화', '디지털광고및캠페인에대한이해', '기술적이해', '관련대회입상자', '비즈니스', '프로젝트경험', '통계학석사', '경력7~15년', '컴퓨터과학/통계학/수학학사', '책임감', '세부사항에주의를기울이는능력', 'Agile한조직문화', '팀워크', '창의적사고', '학사', '혁신성', '통계적사고', '데이터과학/컴퓨터공학/산업공학/수학/전자공학학위', '탄탄한기초지식', '관련교육과정', '피드백수용', '결론도출', '전략적의사결정', '팀장', '프로젝트관리', '경력8년', '프로젝트관리및설명능력', '주도적', '인사이트도출커뮤니케이션', '데이터중심적사고', '신약개발및단백체학분야에대한관심', '경력', 'Booleanexpression이해도', '커뮤니케이션능력', '산출물관리', '석사', '커뮤니케이션경력5년', '유연성', '신뢰성', '마감기한준수', '연구개발경험', '이커머스플랫폼', '유연한사고', '통찰력', '균형잡힌사고', '지방출장', '변화적응력', '문제정의', 'SW테스트업무에대한관심', '팀리딩', '꼼꼼한분석', '멀티테스킹능력', '신입', '인과추론', '긍정적관계구축', '컨설팅', '빠른속도의업무방식', '자기주도적', '트러블슈팅경험', '스타트업', '라이브러리활용', '더나은고객경험추구', '빠른우선순위판단', '적극적', '경력1~20년', '성과중심성', '수학/통계학/데이터사이언스관련학사', '논리적스토리텔링', '경력3~5년', '디테일', '통계학/수학/산업공학/데이터과학학위경력1~5년', '정량적사고', '통계/공학/비즈니스학위', '학습의지', '컴퓨터관련학위', 'LLM에대한관심', '빠른판단력', '리포트작성능력', '컴퓨터과학/수학/공학/과학/경제또는금융학사', '마케팅전략도출', '비즈니스감각', '공학/수학학위', '논문IT관련지식', '멀티테스킹역량', '데이터사이언스/통계학/컴퓨터공학/물리학/수학학위', '데이터마이닝/컴퓨터공학/통계학석사', '유저행동및비즈니스에대한이해', '멀티테스킹', '경력7년', '지표설정', '기술적프레젠테이션', '경력1년', '빠른기술적용', '새로운개발방법', '학위', '이슈해결', '비판적사고', '사업계획수립', '꼼꼼함', '트렌드', '추진력', '프로덕트/서비스가치발굴', '이슈관리', 'Facebook', '액션도출', '협의능력', '독립적', '데이터에기반한커뮤니케이션', '커뮤니케이션', '비즈니스임팩트고려', '가설수립', '창의적접근', '호기심', '학습과성장', '서비스개선', '문제해결능력', '통계학학위', '의사결정능력', '경력3~7년', '교차문화적파트에대한이해', 'TikTok', '새로운기술', '배움에대한열정', '석사학위', '통계학/운영연구/생물정보학/경제학/계산생물학/컴퓨터과학/수학/물리학/전기공학/산업공학학위', '새로운기술학습에대한열정', '통계학/컴퓨터공학학사', '합리적/비판적사고', '의사결정', '제품분석경험'}

In [2756]:
# Soft Skill 열의 영어 단어를 모두 소문자로 변환
df['Soft Skill'] = df['Soft Skill'].apply(lambda x: x.lower())

1. 의사소통 : 커뮤니케이션, 협업, 관계, 의사소통

In [2757]:
# '의사소통' 컬럼 생성
keywords = ['커뮤니케이션', '협업', '관계', '의사소통', '스토리']
df['의사소통'] = df['Soft Skill'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['의사소통'].sum()

121

In [2758]:
df[df['의사소통'] == 1].head(5)

,Unnamed: 0,사이트,검색 키워드,기업이름,포지션이름,포지션이름 전처리,Hard Skill,Soft Skill,Tool,hard plus,...,데이터 가공,빅데이터,클라우드,파이프라인,그로스해킹,로그,마케팅,도메인,프로그래밍언어,의사소통
1,2,원티드,데이터 분석가,에어프레미아랩스,Data Analyst,데이터 분석가,"데이터전처리,데이터분석업무경험","경력5년,데이터에기반한커뮤니케이션,논리적사고,질문","SQL, Python","A/B 테스트, BI Tool, 데이터 시각화, 대시보드 구축, 데이터마트, 데이터...",...,1,0,0,0,0,0,0,0,0,1
2,3,"원티드,잡코리아",데이터 분석가,매드업,[광고사업부] 데이터 분석가,데이터 분석가,"머신러닝,딥러닝,프레임워크,협업개발툴,데이터분석기법,가설검정,회귀,인과관계,상관관계...","협업,분석및문제해결능력,새로운기술,창의적사고,커뮤니케이션,통찰력,경력3년","TensorFlow, Kersas, PyTorch, ChatGPT, Stable D...","Mobile Measurement Platforms, 데이터베이스, 데이터 시각화,...",...,0,0,0,0,0,0,0,0,1,1
4,5,"원티드,사람인",데이터 분석가,빗썸코리아,데이터 분석 개발자,데이터 분석 개발자,"대형플랫폼데이터,데이터구조,대용량트래픽시스템,데이터설계,구축,서비스관리","개발조직협업,금융산업경력",없음,"데이터 파이프라인 구축, 웹 크롤링, RESTful API",...,0,1,0,0,0,0,1,0,0,1
6,7,"원티드,잡코리아",데이터 분석가,"브레이브모바일(숨고,Soomgo)",Product Data Analyst,데이터 분석가,"인하우스데이터분석,sql,bi툴,a/b테스트,로그데이터분석","agile조직경험,제품분석경험,팀원들과의커뮤니케이션능력","SQL, Tableau, Redash","데이터 분석, Behavior Data, 사용자 행동 로그",...,0,0,0,0,1,1,0,1,1,1
7,8,원티드/링크드인,데이터 분석가,에니아이(Aniai),Data Scientist,데이터 사이언티스트,"데이터분석,데이터전처리,딥러닝,딥러닝모델설계,통계분석,데이터분석툴","경력3년,기술적프레젠테이션,의사소통","Python, Matlab","데이터 분석, 통계 분석, 연구, 데이터베이스, 머신러닝, 딥러닝, 디지털 신호 처...",...,1,0,0,0,0,0,0,0,1,1

In [2759]:
# 특정 단어가 포함된 단어의 개수 세기
df['Soft Skill'].apply(lambda x: 1 if '관계' in x else 0).sum()

5

2. 논리적/분석적 사고 : 논리, 분석, 통계, 문해, 사고, 인과추론

In [2760]:
# '논리적/분석적 사고' 컬럼 생성
keywords = ['논리', '분석', '문해', '통게', '사고', '인과추론']
df['논리적/분석적 사고'] = df['Soft Skill'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['논리적/분석적 사고'].sum()

112

In [2761]:
df[df['논리적/분석적 사고'] == 1].head(5)

,Unnamed: 0,사이트,검색 키워드,기업이름,포지션이름,포지션이름 전처리,Hard Skill,Soft Skill,Tool,hard plus,...,빅데이터,클라우드,파이프라인,그로스해킹,로그,마케팅,도메인,프로그래밍언어,의사소통,논리적/분석적 사고
0,1,원티드,데이터 분석가,제네시스랩,Data Scientist,데이터 사이언티스트,"통계분석,데이터마이닝,머신러닝,딥러닝,영상데이터,음성데이터,텍스트데이터,데이터보안,...",분석적사고,Python,"딥러닝, 딥러닝 추론 결과 분석 경험, 모델 성능 향상, AI, 데이터 수집, 데이...",...,0,0,0,0,0,0,0,0,0,1
1,2,원티드,데이터 분석가,에어프레미아랩스,Data Analyst,데이터 분석가,"데이터전처리,데이터분석업무경험","경력5년,데이터에기반한커뮤니케이션,논리적사고,질문","SQL, Python","A/B 테스트, BI Tool, 데이터 시각화, 대시보드 구축, 데이터마트, 데이터...",...,0,0,0,0,0,0,0,0,1,1
2,3,"원티드,잡코리아",데이터 분석가,매드업,[광고사업부] 데이터 분석가,데이터 분석가,"머신러닝,딥러닝,프레임워크,협업개발툴,데이터분석기법,가설검정,회귀,인과관계,상관관계...","협업,분석및문제해결능력,새로운기술,창의적사고,커뮤니케이션,통찰력,경력3년","TensorFlow, Kersas, PyTorch, ChatGPT, Stable D...","Mobile Measurement Platforms, 데이터베이스, 데이터 시각화,...",...,0,0,0,0,0,0,0,1,1,1
6,7,"원티드,잡코리아",데이터 분석가,"브레이브모바일(숨고,Soomgo)",Product Data Analyst,데이터 분석가,"인하우스데이터분석,sql,bi툴,a/b테스트,로그데이터분석","agile조직경험,제품분석경험,팀원들과의커뮤니케이션능력","SQL, Tableau, Redash","데이터 분석, Behavior Data, 사용자 행동 로그",...,0,0,0,1,1,0,1,1,1,1
10,11,원티드,데이터 분석가,콘센트릭스서비스코리아CATALYST,Data 분석 컨설턴트,데이터 분석가,"프로젝트관리,데이터분석,데이터시각화,보고서작성,eda","커뮤니케이션,문제해결능력,데이터문해력","MS Office, SQL","데이터 분석, 통계, 고급 통계적 분석 기법, 데이터 추출",...,0,0,0,0,0,0,0,0,1,1

In [2762]:
# 특정 단어가 포함된 단어의 개수 세기
df['Soft Skill'].apply(lambda x: 1 if '사고' in x else 0).sum()

98

3. 문제 해결 능력 : 문제해결

In [2763]:
# '논리적/분석적 사고' 컬럼 생성
keywords = ['해결']
df['문제해결능력'] = df['Soft Skill'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['문제해결능력'].sum()

46

In [2764]:
df[df['문제해결능력'] == 1].head(5)

,Unnamed: 0,사이트,검색 키워드,기업이름,포지션이름,포지션이름 전처리,Hard Skill,Soft Skill,Tool,hard plus,...,클라우드,파이프라인,그로스해킹,로그,마케팅,도메인,프로그래밍언어,의사소통,논리적/분석적 사고,문제해결능력
2,3,"원티드,잡코리아",데이터 분석가,매드업,[광고사업부] 데이터 분석가,데이터 분석가,"머신러닝,딥러닝,프레임워크,협업개발툴,데이터분석기법,가설검정,회귀,인과관계,상관관계...","협업,분석및문제해결능력,새로운기술,창의적사고,커뮤니케이션,통찰력,경력3년","TensorFlow, Kersas, PyTorch, ChatGPT, Stable D...","Mobile Measurement Platforms, 데이터베이스, 데이터 시각화,...",...,0,0,0,0,0,0,1,1,1,1
5,6,"원티드,사람인",데이터 분석가,스펙터,데이터 분석가(사이언티스트),"데이터 분석가, 데이터 사이언티스트","데이터사이언스,컴퓨터공학,통계학,수학,데이터베이스,머신러닝,딥러닝,생성형ai,데이터시각화","문제해결능력,비즈니스에대한깊은이해","Python, R, SQL, Tableau, Power BI","AWS, 클라우드 환경, 데이터 처리, 데이터 분석, 자동화, 데이터 파이프라인 구...",...,0,1,0,0,0,0,0,0,0,1
10,11,원티드,데이터 분석가,콘센트릭스서비스코리아CATALYST,Data 분석 컨설턴트,데이터 분석가,"프로젝트관리,데이터분석,데이터시각화,보고서작성,eda","커뮤니케이션,문제해결능력,데이터문해력","MS Office, SQL","데이터 분석, 통계, 고급 통계적 분석 기법, 데이터 추출",...,0,0,0,0,0,0,0,1,1,1
34,36,"원티드, 사람인",데이터 분석가,인터엑스,"데이터분석(시계열 데이터 분석, Data Scientist)","데이터 분석가, 데이터 사이언티스트","머신러닝,딥러닝,모델링,prediction,anomalydetection,class...","주도적,책임감,문제해결능력,문제정의,트렌드,llm에대한관심","Python, Tensorflow, Pytorch, Pandas, Matplotlib","머신러닝, 딥러닝, 알고리즘, 이미지 데이터, 영 상데이터, 시계열 데이터, 모델링",...,0,0,0,0,0,0,0,0,0,1
39,41,원티드,데이터 분석가,쿠팡,Staff Data Engineer/Data Scientist (S&OP,"데이터 엔지니어, 데이터 사이언티스트","코딩경험,대시보드구축,데이터파이프라인구축,시스템확장","문제정의,커뮤니케이션,자기주도성,혁신성,문제해결,책임감,공학/수학학위,협업능력,긍정...","Python, R, Hive, PowerBI, Tableau, R Shiny","대용량 데이터 분산처리, 데이터 베이스, BI, 대시보드 구축, 자동화, 전자상거래...",...,0,1,0,0,0,0,0,1,0,1

4. 프로세스 : 가설 수립, 가설 설정, 가설 검증, 문제정의, 결과 해석, 지표, 분석방법론

In [2765]:
# '프로세스' 컬럼 생성
keywords = ['가설', '정의', '결과해석', '지표', '방법론', '통찰']
df['프로세스'] = df['Soft Skill'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['프로세스'].sum()

94

In [2766]:
# 특정 단어가 포함된 단어의 개수 세기
df['Soft Skill'].apply(lambda x: 1 if '가설' in x else 0).sum()

42

In [2767]:
df[df['프로세스'] == 1].head(5)

,Unnamed: 0,사이트,검색 키워드,기업이름,포지션이름,포지션이름 전처리,Hard Skill,Soft Skill,Tool,hard plus,...,파이프라인,그로스해킹,로그,마케팅,도메인,프로그래밍언어,의사소통,논리적/분석적 사고,문제해결능력,프로세스
2,3,"원티드,잡코리아",데이터 분석가,매드업,[광고사업부] 데이터 분석가,데이터 분석가,"머신러닝,딥러닝,프레임워크,협업개발툴,데이터분석기법,가설검정,회귀,인과관계,상관관계...","협업,분석및문제해결능력,새로운기술,창의적사고,커뮤니케이션,통찰력,경력3년","TensorFlow, Kersas, PyTorch, ChatGPT, Stable D...","Mobile Measurement Platforms, 데이터베이스, 데이터 시각화,...",...,0,0,0,0,0,1,1,1,1,1
11,12,원티드,데이터 분석가,버즈빌,Data Analyst,데이터 분석가,"aarrr,funnel분석,carryingcapacity,코호트분석,프레임워크,데이...","논리적사고,분석적사고,문제정의,인사이트도출,액션도출,경력2년","SQL, Python, R","데이터 마이닝, 통계적 분석, 대용량 데이터 분산처리, 데이터베이스, 제품-유저 인...",...,0,1,0,1,1,1,0,1,0,1
14,15,원티드,데이터 분석가,닥터나우,데이터 분석가,데이터 분석가,"데이터추출,데이터가공,데이터분석,마케팅,비즈니스데이터,제품데이터,","가설검증,문제정의,논리적사고,분석적사고,커뮤니케이션,책임감,경력2년","SQL, Python","앱 개발, 클라우드 환경, 대용량 데이터 분석, 빅 데이터, 로그 데이터, 데이터 ...",...,0,1,0,1,1,0,1,1,0,1
15,16,원티드,데이터 분석가,연합시스템,"빅데이터 분석, AI (머신러닝,딥러닝)","데이터 분석가, AI, ML, DL","데이터분석,데이터추출,데이터시각화","논리적사고,분석적사고,문제정의","SQL, Python, Tableau, BI, 엑셀, matplotlib","클라우드 환경, 머신러닝, 딥러닝, 시계열 데이터, 모델링, 모델 개발",...,0,0,0,0,0,0,0,1,0,1
17,18,"원티드,잡코리아",데이터 분석가,발란(BALAAN),그로스 데이터 분석가,데이터 분석가,"데이터분석,ga4,mmp,crm,funnel분석,코호트분석,retention,aar...","논리적사고,분석적사고,문제정의,가설수립,인사이트도출","SQL, Python, GA4, MMP, BigQuery, Tableau, Look...","데이터 파이프라인 구축, 이커머스, 패션 이커머스, 플랫폼 마케팅, CRM, 개발,...",...,0,1,0,0,0,0,0,1,0,1

5. 리더십 : 팀 리딩, 프로젝트 리딩, 프로젝트 관리, 방향성, 의사결정능력, 빠른 판단력, 설득

In [2768]:
# '리더십' 컬럼 생성
keywords = ['리딩', '관리', '방향성', '의사결정','판단', '추진']
df['리더십'] = df['Soft Skill'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['리더십'].sum()

34

In [2769]:
df[df['리더십'] == 1].head(5)

,Unnamed: 0,사이트,검색 키워드,기업이름,포지션이름,포지션이름 전처리,Hard Skill,Soft Skill,Tool,hard plus,...,그로스해킹,로그,마케팅,도메인,프로그래밍언어,의사소통,논리적/분석적 사고,문제해결능력,프로세스,리더십
13,14,원티드,데이터 분석가,식스티헤르츠,Data Scientist,데이터 사이언티스트,"데이터분석,시계열데이터,이미지데이터,몬테카를로시뮬레이션,milp,통계,머신러닝,수학","석사학위,박사학위,프로젝트관리및설명능력","Python, Numpy, Pandas, Scikit-learn, Tensorflow","분산 차원, 가상발전소(VVP) 재생에너지, 전력 시스템, 기상/기후/환경, 모델링...",...,0,0,0,0,0,0,0,0,0,1
24,25,원티드,데이터 분석가,미라파트너스,벤처캐피탈 및 스타트업 분야 데이터 분석가,데이터 분석가,"데이터처리지식,데이터분석","커뮤니케이션,방향성제시,인사이트도출,통찰력,개발지식","SQL, DBMS",없음,...,0,0,0,0,0,1,0,0,1,1
26,28,원티드,데이터 분석가,알티엠,Senior Data Scientist (이미지 데이터),데이터 사이언티스트,"컴퓨터비전,영상처리,딥러닝,머신러닝,모델링","프로젝트관리,프로덕트관리,리더십,커뮤니케이션,협업능력,경력2년","Python, Tensorflow, Keras, Pytorch",문서 활용,...,0,0,0,0,0,1,0,0,0,1
31,33,원티드,데이터 분석가,몰로코,Senior/Staff Data Scientist - Growth Analytics,데이터 사이언티스트,"통계,실험설계,가설검정,회귀분석,시계열분석,지표설정,비즈니스분석,데이터사이언스","커뮤니케이션,프로젝트관리,우선순위설정,협업능력,경력5년,석사학위,교차문화적파트에대한...","Python, SQL","빅데이터, 데이터 추출, 데이터 분석, 통계, 통계 분석",...,1,0,1,0,0,1,0,0,0,1
33,35,원티드,데이터 분석가,미트박스글로벌,데이터 분석(팀장급),데이터 분석가,"데이터분석,데이터사이언스,데이터추출,데이터정제,모델링,예측모델,시스템구축","팀리딩,커뮤니케이션,경력10년","SQL, Python, R","데이터 가공, 데이터 웨어하우스 설계, 데이터 마트 설계, 데이터레이크 설계, 머신...",...,0,0,0,0,0,1,0,0,0,1

In [2770]:
# 특정 단어가 포함된 단어의 개수 세기
df['Soft Skill'].apply(lambda x: 1 if '판단' in x else 0).sum()

3

6. 책임감 : 꼼꼼, 디테일, 성과중심, 기한, 신뢰, 성실

In [2771]:
# '책임감' 컬럼 생성
keywords = ['꼼꼼', '디테일', '성과', '기한', '신뢰', '성실', '책임', '세밀']
df['책임감'] = df['Soft Skill'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['책임감'].sum()

25

In [2772]:
df[df['책임감'] == 1].head(5)

,Unnamed: 0,사이트,검색 키워드,기업이름,포지션이름,포지션이름 전처리,Hard Skill,Soft Skill,Tool,hard plus,...,로그,마케팅,도메인,프로그래밍언어,의사소통,논리적/분석적 사고,문제해결능력,프로세스,리더십,책임감
14,15,원티드,데이터 분석가,닥터나우,데이터 분석가,데이터 분석가,"데이터추출,데이터가공,데이터분석,마케팅,비즈니스데이터,제품데이터,","가설검증,문제정의,논리적사고,분석적사고,커뮤니케이션,책임감,경력2년","SQL, Python","앱 개발, 클라우드 환경, 대용량 데이터 분석, 빅 데이터, 로그 데이터, 데이터 ...",...,0,1,1,0,1,1,0,1,0,1
21,22,"원티드,링크드인",데이터 분석가,쿠팡,Senior Data Analyst (CX Product)/Senior Data A...,데이터 분석가,"비즈니스분석,데이터분석,데이터사이언스,모델링,차원모델링,빅데이터,데이터시각화,통계","분석적사고,디테일,비즈니스감각,효율적,빠르고역동적인환경,멀티테스킹역량,학사,경력3년","SQL, HQL, ETL, Hadoop, Spark, Presto, Excel, T...","통계, 통계적 분석, 데이터 시각화, 머신러닝, 모델링, 딥러닝, A/B 테스트",...,0,1,0,0,0,1,0,0,0,1
34,36,"원티드, 사람인",데이터 분석가,인터엑스,"데이터분석(시계열 데이터 분석, Data Scientist)","데이터 분석가, 데이터 사이언티스트","머신러닝,딥러닝,모델링,prediction,anomalydetection,class...","주도적,책임감,문제해결능력,문제정의,트렌드,llm에대한관심","Python, Tensorflow, Pytorch, Pandas, Matplotlib","머신러닝, 딥러닝, 알고리즘, 이미지 데이터, 영 상데이터, 시계열 데이터, 모델링",...,0,0,0,0,0,0,1,1,0,1
37,39,원티드,데이터 분석가,쿠팡,"Staff, Data Analyst (Eats Strategy)",데이터 분석가,"비즈니스분석,데이터분석,데이터사이언스,fp&a,모델링,차원모델링,빅데이터,데이터시각...","분석적사고,디테일,비즈니스감각,효율적,빠르고역동적인환경,멀티테스킹역량,학사,경력5~8년","SQL, HQL, ETL, Excel, Tableau, Power BI","이커머스, 음식배달 업계, IT 산업, 데이터 분석",...,0,1,0,0,0,1,0,0,0,1
39,41,원티드,데이터 분석가,쿠팡,Staff Data Engineer/Data Scientist (S&OP,"데이터 엔지니어, 데이터 사이언티스트","코딩경험,대시보드구축,데이터파이프라인구축,시스템확장","문제정의,커뮤니케이션,자기주도성,혁신성,문제해결,책임감,공학/수학학위,협업능력,긍정...","Python, R, Hive, PowerBI, Tableau, R Shiny","대용량 데이터 분산처리, 데이터 베이스, BI, 대시보드 구축, 자동화, 전자상거래...",...,0,0,0,0,1,0,1,1,0,1

In [2773]:
# 특정 단어가 포함된 단어의 개수 세기
df['Soft Skill'].apply(lambda x: 1 if '책임' in x else 0).sum()

9

7. 적극적 : 주도적, 적극, 전략, 자기주도, 동기부여, 독립

In [2774]:
# '적극적' 컬럼 생성
keywords = ['주도', '적극', '전략', '자기주도', '동기부여','독립', '우선', '설득']
df['적극적'] = df['Soft Skill'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['적극적'].sum()

35

In [2775]:
df[df['적극적'] == 1].head(5)

,Unnamed: 0,사이트,검색 키워드,기업이름,포지션이름,포지션이름 전처리,Hard Skill,Soft Skill,Tool,hard plus,...,마케팅,도메인,프로그래밍언어,의사소통,논리적/분석적 사고,문제해결능력,프로세스,리더십,책임감,적극적
31,33,원티드,데이터 분석가,몰로코,Senior/Staff Data Scientist - Growth Analytics,데이터 사이언티스트,"통계,실험설계,가설검정,회귀분석,시계열분석,지표설정,비즈니스분석,데이터사이언스","커뮤니케이션,프로젝트관리,우선순위설정,협업능력,경력5년,석사학위,교차문화적파트에대한...","Python, SQL","빅데이터, 데이터 추출, 데이터 분석, 통계, 통계 분석",...,1,0,0,1,0,0,0,1,0,1
34,36,"원티드, 사람인",데이터 분석가,인터엑스,"데이터분석(시계열 데이터 분석, Data Scientist)","데이터 분석가, 데이터 사이언티스트","머신러닝,딥러닝,모델링,prediction,anomalydetection,class...","주도적,책임감,문제해결능력,문제정의,트렌드,llm에대한관심","Python, Tensorflow, Pytorch, Pandas, Matplotlib","머신러닝, 딥러닝, 알고리즘, 이미지 데이터, 영 상데이터, 시계열 데이터, 모델링",...,0,0,0,0,0,1,1,0,1,1
39,41,원티드,데이터 분석가,쿠팡,Staff Data Engineer/Data Scientist (S&OP,"데이터 엔지니어, 데이터 사이언티스트","코딩경험,대시보드구축,데이터파이프라인구축,시스템확장","문제정의,커뮤니케이션,자기주도성,혁신성,문제해결,책임감,공학/수학학위,협업능력,긍정...","Python, R, Hive, PowerBI, Tableau, R Shiny","대용량 데이터 분산처리, 데이터 베이스, BI, 대시보드 구축, 자동화, 전자상거래...",...,0,0,0,1,0,1,1,0,1,1
46,49,원티드,데이터 분석가,워트인텔리전스,특허 빅데이터분석가 (IP빅데이터분석팀),데이터 분석가,"데이터분석,특허조사분석,빅데이터,특허조사","분석적사고,문제정의,가설수립,피드백제공,피드백수용,스타트업,책임감,주도적,능동적,지...",없음,"IP, 데이터 분석, 데이터 시각화",...,0,1,0,0,1,0,1,0,1,1
47,50,원티드,데이터 분석가,단색,데이터 분석가,데이터 분석가,"데이터분석,서비스개선,데이터처리,데이터가공,app/web서비스데이터,사용자행동로그","논리적사고,인사이트도출,적응력,주도적,경력1년","SQL, Python","이커머스, 데이터 분석, 데이터 처리, 데이터 가공, 데이터 시각화",...,1,0,0,0,1,0,0,0,0,1

In [2776]:
# 특정 단어가 포함된 단어의 개수 세기
df['Soft Skill'].apply(lambda x: 1 if '아이디어' in x else 0).sum()

0

8. 의지/열정 : 열정, 성장, 커리어, 학습

In [2777]:
# '의지/열정' 컬럼 생성
keywords = ['열정', '성장', '커리어', '학습', '호기심', '인과', '관심', '집요', '보람']
df['의지/열정'] = df['Soft Skill'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['의지/열정'].sum()

19

In [2778]:
df[df['의지/열정'] == 1].head(5)

,Unnamed: 0,사이트,검색 키워드,기업이름,포지션이름,포지션이름 전처리,Hard Skill,Soft Skill,Tool,hard plus,...,도메인,프로그래밍언어,의사소통,논리적/분석적 사고,문제해결능력,프로세스,리더십,책임감,적극적,의지/열정
9,10,"원티드,잡코리아",데이터 분석가,넥슨코리아,데이터 분석가 (FPS 게임 이상탐지),데이터 분석가,"이상탐지,ml,ai,통계,수학,컴퓨터과학분야학위,데이터사이언스","팀워크,커리어개발관심",없음,"시계열 데이터, 다변량 시계열 데이터 분류, 분류 모델, 이상 탐지, ML/DL 알...",...,0,0,0,0,0,0,0,0,0,1
16,17,원티드,데이터 분석가,딥인사이트,Data Scientist,데이터 사이언티스트,"이공계연구경험,통계,데이터고도화,dl,dl모델성능향상","인공지능에대한깊은이해,관련분야학위,논문it관련지식,sw테스트업무에대한관심","SQL, Python, Pytorch","MLOps 경험, 프로그래밍 언어, 개발",...,1,0,0,0,0,0,0,0,0,1
23,24,원티드,데이터 분석가,바이온사이트,Data Scientist,데이터 사이언티스트,"데이터분석,데이터정제,데이터추출,모델링,성능평가,데이터가공","커뮤니케이션능력,트렌드,학습과성장,경력1년,신약개발및단백체학분야에대한관심","Python, R","신약개발, 화학, 생물학, 데이터 분석, 모델링, 질량분석(MS), 연구 개발, 머...",...,0,0,1,0,0,0,0,0,0,1
34,36,"원티드, 사람인",데이터 분석가,인터엑스,"데이터분석(시계열 데이터 분석, Data Scientist)","데이터 분석가, 데이터 사이언티스트","머신러닝,딥러닝,모델링,prediction,anomalydetection,class...","주도적,책임감,문제해결능력,문제정의,트렌드,llm에대한관심","Python, Tensorflow, Pytorch, Pandas, Matplotlib","머신러닝, 딥러닝, 알고리즘, 이미지 데이터, 영 상데이터, 시계열 데이터, 모델링",...,0,0,0,0,1,1,0,1,1,1
46,49,원티드,데이터 분석가,워트인텔리전스,특허 빅데이터분석가 (IP빅데이터분석팀),데이터 분석가,"데이터분석,특허조사분석,빅데이터,특허조사","분석적사고,문제정의,가설수립,피드백제공,피드백수용,스타트업,책임감,주도적,능동적,지...",없음,"IP, 데이터 분석, 데이터 시각화",...,1,0,0,1,0,1,0,1,1,1

9. 창의력 : 창의, 능동, 유연, 혁신

In [2779]:
# '창의력' 컬럼 생성
keywords = ['창의','능동', '유연', '혁신']
df['창의력'] = df['Soft Skill'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['창의력'].sum()

15

In [2780]:
df[df['창의력'] == 1].head(5)

,Unnamed: 0,사이트,검색 키워드,기업이름,포지션이름,포지션이름 전처리,Hard Skill,Soft Skill,Tool,hard plus,...,프로그래밍언어,의사소통,논리적/분석적 사고,문제해결능력,프로세스,리더십,책임감,적극적,의지/열정,창의력
2,3,"원티드,잡코리아",데이터 분석가,매드업,[광고사업부] 데이터 분석가,데이터 분석가,"머신러닝,딥러닝,프레임워크,협업개발툴,데이터분석기법,가설검정,회귀,인과관계,상관관계...","협업,분석및문제해결능력,새로운기술,창의적사고,커뮤니케이션,통찰력,경력3년","TensorFlow, Kersas, PyTorch, ChatGPT, Stable D...","Mobile Measurement Platforms, 데이터베이스, 데이터 시각화,...",...,1,1,1,1,1,0,0,0,0,1
39,41,원티드,데이터 분석가,쿠팡,Staff Data Engineer/Data Scientist (S&OP,"데이터 엔지니어, 데이터 사이언티스트","코딩경험,대시보드구축,데이터파이프라인구축,시스템확장","문제정의,커뮤니케이션,자기주도성,혁신성,문제해결,책임감,공학/수학학위,협업능력,긍정...","Python, R, Hive, PowerBI, Tableau, R Shiny","대용량 데이터 분산처리, 데이터 베이스, BI, 대시보드 구축, 자동화, 전자상거래...",...,0,1,0,1,1,0,1,1,0,1
46,49,원티드,데이터 분석가,워트인텔리전스,특허 빅데이터분석가 (IP빅데이터분석팀),데이터 분석가,"데이터분석,특허조사분석,빅데이터,특허조사","분석적사고,문제정의,가설수립,피드백제공,피드백수용,스타트업,책임감,주도적,능동적,지...",없음,"IP, 데이터 분석, 데이터 시각화",...,0,0,1,0,1,0,1,1,1,1
53,56,원티드,데이터 분석가,여기어때컴퍼니,Data Analyst,데이터 분석가,"데이터분석,고객행동데이터,funnel분석,retention,코호트분석,프로덕트데이터...","유연성,추진력,신뢰성,긍정적인태도,문제정의,가설수립,인사이트도출,경력3년",없음,"데이터 분석, 데이터 시각화, 프로그래밍 언어",...,0,0,0,0,1,1,1,0,0,1
69,72,원티드,데이터 분석가,여기어때컴퍼니,Data Scientist,데이터 사이언티스트,"데이터분석,통계,추천모델링,예측모델링,funnel분석,retention,코호트분석,...","비즈니스이해,분석방법론,유연성,추진력,신뢰성,긍정적인태도,문제정의,가설수립,인사이트...",없음,"데이터 시각화, 머신러닝, 딥러닝, 모델링, 빅데이터, 대용량 데이터 분석, App...",...,0,0,1,0,1,1,1,0,0,1

In [2781]:
# 특정 단어가 포함된 단어의 개수 세기
df['Soft Skill'].apply(lambda x: 1 if '창의' in x else 0).sum()

6

10. 비즈니스 : 서비스리딩, 비즈니스, 개선, 프로덕트, 전략, 컨설팅

In [2782]:
# '비즈니스' 컬럼 생성
keywords = ['서비스', '비즈니스', '고객', '개선', '프로덕트', '전략', '컨설팅']
df['비즈니스'] = df['Soft Skill'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['비즈니스'].sum()

34

In [2783]:
# 특정 단어가 포함된 단어의 개수 세기
df['Soft Skill'].apply(lambda x: 1 if '프로덕트' in x else 0).sum()

3

In [2784]:
df[df['비즈니스'] == 1].head(5)

,Unnamed: 0,사이트,검색 키워드,기업이름,포지션이름,포지션이름 전처리,Hard Skill,Soft Skill,Tool,hard plus,...,의사소통,논리적/분석적 사고,문제해결능력,프로세스,리더십,책임감,적극적,의지/열정,창의력,비즈니스
5,6,"원티드,사람인",데이터 분석가,스펙터,데이터 분석가(사이언티스트),"데이터 분석가, 데이터 사이언티스트","데이터사이언스,컴퓨터공학,통계학,수학,데이터베이스,머신러닝,딥러닝,생성형ai,데이터시각화","문제해결능력,비즈니스에대한깊은이해","Python, R, SQL, Tableau, Power BI","AWS, 클라우드 환경, 데이터 처리, 데이터 분석, 자동화, 데이터 파이프라인 구...",...,0,0,1,0,0,0,0,0,0,1
12,13,원티드,데이터 분석가,바비톡,Data Analyst,데이터 분석가,"빅데이터핸들링역량,데이터분석,코호트분석,a/b테스트,funnel분석,retentio...","협의능력,실행능력,모바일서비스데이터분석방법에대한이해","SQL, Amazon Athena, Trino, Google BigQuery, Am...","데이터 시각화 , 데이터 분석, 데이터 적재, 빅데이터, 데이터 가공",...,0,1,0,0,0,0,0,0,0,1
21,22,"원티드,링크드인",데이터 분석가,쿠팡,Senior Data Analyst (CX Product)/Senior Data A...,데이터 분석가,"비즈니스분석,데이터분석,데이터사이언스,모델링,차원모델링,빅데이터,데이터시각화,통계","분석적사고,디테일,비즈니스감각,효율적,빠르고역동적인환경,멀티테스킹역량,학사,경력3년","SQL, HQL, ETL, Hadoop, Spark, Presto, Excel, T...","통계, 통계적 분석, 데이터 시각화, 머신러닝, 모델링, 딥러닝, A/B 테스트",...,0,1,0,0,0,1,0,0,0,1
26,28,원티드,데이터 분석가,알티엠,Senior Data Scientist (이미지 데이터),데이터 사이언티스트,"컴퓨터비전,영상처리,딥러닝,머신러닝,모델링","프로젝트관리,프로덕트관리,리더십,커뮤니케이션,협업능력,경력2년","Python, Tensorflow, Keras, Pytorch",문서 활용,...,1,0,0,0,1,0,0,0,0,1
37,39,원티드,데이터 분석가,쿠팡,"Staff, Data Analyst (Eats Strategy)",데이터 분석가,"비즈니스분석,데이터분석,데이터사이언스,fp&a,모델링,차원모델링,빅데이터,데이터시각...","분석적사고,디테일,비즈니스감각,효율적,빠르고역동적인환경,멀티테스킹역량,학사,경력5~8년","SQL, HQL, ETL, Excel, Tableau, Power BI","이커머스, 음식배달 업계, IT 산업, 데이터 분석",...,0,1,0,0,0,1,0,0,0,1

11. 액션 도출 : 인사이트 도출, 액션 도출

In [2785]:
# '액션도출' 컬럼 생성
keywords = ['인사이트','액션', '도출']
df['액션도출'] = df['Soft Skill'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['액션도출'].sum()

90

In [2786]:
df[df['액션도출'] == 1].head(5)

,Unnamed: 0,사이트,검색 키워드,기업이름,포지션이름,포지션이름 전처리,Hard Skill,Soft Skill,Tool,hard plus,...,논리적/분석적 사고,문제해결능력,프로세스,리더십,책임감,적극적,의지/열정,창의력,비즈니스,액션도출
11,12,원티드,데이터 분석가,버즈빌,Data Analyst,데이터 분석가,"aarrr,funnel분석,carryingcapacity,코호트분석,프레임워크,데이...","논리적사고,분석적사고,문제정의,인사이트도출,액션도출,경력2년","SQL, Python, R","데이터 마이닝, 통계적 분석, 대용량 데이터 분산처리, 데이터베이스, 제품-유저 인...",...,1,0,1,0,0,0,0,0,0,1
17,18,"원티드,잡코리아",데이터 분석가,발란(BALAAN),그로스 데이터 분석가,데이터 분석가,"데이터분석,ga4,mmp,crm,funnel분석,코호트분석,retention,aar...","논리적사고,분석적사고,문제정의,가설수립,인사이트도출","SQL, Python, GA4, MMP, BigQuery, Tableau, Look...","데이터 파이프라인 구축, 이커머스, 패션 이커머스, 플랫폼 마케팅, CRM, 개발,...",...,1,0,1,0,0,0,0,0,0,1
19,20,원티드,데이터 분석가,펑타이그레이터차이나(피티코리아),데이터 분석,데이터 분석가,"데이터추출,데이터분석,로그데이터,통계","원활한커뮤니케이션,인사이트도출,경력3~7년","Adobe Analytics, MS Office, R, Python, SQL, SPSS","App/Web 서비스 데이터, 데이터 시각화, 대시보드 구축",...,0,0,0,0,0,0,0,0,0,1
20,21,원티드,데이터 분석가,반프,R&D / Data Scientist & Data Analyst,"데이터 분석가, 데이터 사이언티스트","데이터과학,머신러닝,모델링,클라우드기반데이터,프로그래밍언어","인사이트도출,석사학위,경력3년","Python, Scikit-learn, Pytorch, Web Application...","프로그래밍 언어, 센서 데이터, Neural Network 최적화",...,0,0,0,0,0,0,0,0,0,1
22,23,원티드,데이터 분석가,우아한청년들,딜리버리 인사이트 데이터 분석가(Business Analyst),데이터 분석가,"데이터분석,비즈니스분석,데이터시각화","논리적사고,커뮤니케이션,액션플랜도출,경력5년","SQL, BI","데이터 분석, 통계, 수학, 지표 설계 데이터 시각화",...,1,0,0,0,0,0,0,0,0,1

In [2787]:
# 특정 단어가 포함된 단어의 개수 세기
df['Soft Skill'].apply(lambda x: 1 if '도출' in x else 0).sum()

90

12. AGILE : agile, 빠른, 역동, 적응력

In [2788]:
# 'Agile' 컬럼 생성
keywords = ['agile', '빠른', '역동', '적응', '스타트업', '멀티']
df['Agile'] = df['Soft Skill'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['Agile'].sum()

19

In [2789]:
df[df['Agile'] == 1].head(5)

,Unnamed: 0,사이트,검색 키워드,기업이름,포지션이름,포지션이름 전처리,Hard Skill,Soft Skill,Tool,hard plus,...,문제해결능력,프로세스,리더십,책임감,적극적,의지/열정,창의력,비즈니스,액션도출,Agile
6,7,"원티드,잡코리아",데이터 분석가,"브레이브모바일(숨고,Soomgo)",Product Data Analyst,데이터 분석가,"인하우스데이터분석,sql,bi툴,a/b테스트,로그데이터분석","agile조직경험,제품분석경험,팀원들과의커뮤니케이션능력","SQL, Tableau, Redash","데이터 분석, Behavior Data, 사용자 행동 로그",...,0,0,0,0,0,0,0,0,0,1
21,22,"원티드,링크드인",데이터 분석가,쿠팡,Senior Data Analyst (CX Product)/Senior Data A...,데이터 분석가,"비즈니스분석,데이터분석,데이터사이언스,모델링,차원모델링,빅데이터,데이터시각화,통계","분석적사고,디테일,비즈니스감각,효율적,빠르고역동적인환경,멀티테스킹역량,학사,경력3년","SQL, HQL, ETL, Hadoop, Spark, Presto, Excel, T...","통계, 통계적 분석, 데이터 시각화, 머신러닝, 모델링, 딥러닝, A/B 테스트",...,0,0,0,1,0,0,0,1,0,1
31,33,원티드,데이터 분석가,몰로코,Senior/Staff Data Scientist - Growth Analytics,데이터 사이언티스트,"통계,실험설계,가설검정,회귀분석,시계열분석,지표설정,비즈니스분석,데이터사이언스","커뮤니케이션,프로젝트관리,우선순위설정,협업능력,경력5년,석사학위,교차문화적파트에대한...","Python, SQL","빅데이터, 데이터 추출, 데이터 분석, 통계, 통계 분석",...,0,0,1,0,1,0,0,0,0,1
37,39,원티드,데이터 분석가,쿠팡,"Staff, Data Analyst (Eats Strategy)",데이터 분석가,"비즈니스분석,데이터분석,데이터사이언스,fp&a,모델링,차원모델링,빅데이터,데이터시각...","분석적사고,디테일,비즈니스감각,효율적,빠르고역동적인환경,멀티테스킹역량,학사,경력5~8년","SQL, HQL, ETL, Excel, Tableau, Power BI","이커머스, 음식배달 업계, IT 산업, 데이터 분석",...,0,0,0,1,0,0,0,1,0,1
46,49,원티드,데이터 분석가,워트인텔리전스,특허 빅데이터분석가 (IP빅데이터분석팀),데이터 분석가,"데이터분석,특허조사분석,빅데이터,특허조사","분석적사고,문제정의,가설수립,피드백제공,피드백수용,스타트업,책임감,주도적,능동적,지...",없음,"IP, 데이터 분석, 데이터 시각화",...,0,1,0,1,1,1,1,0,0,1

In [2790]:
# 특정 단어가 포함된 단어의 개수 세기
df['Soft Skill'].apply(lambda x: 1 if 'agile' in x else 0).sum()

2

13. 영어 : 영어

In [2791]:
# '영어' 컬럼 생성
keywords = ['영어']
df['영어'] = df['Soft Skill'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['영어'].sum()

22

In [2792]:
df[df['영어'] == 1].head(5)

,Unnamed: 0,사이트,검색 키워드,기업이름,포지션이름,포지션이름 전처리,Hard Skill,Soft Skill,Tool,hard plus,...,프로세스,리더십,책임감,적극적,의지/열정,창의력,비즈니스,액션도출,Agile,영어
27,29,원티드,데이터 분석가,펑타이그레이터차이나(피티코리아),CX 데이터 분석/운영,데이터 분석가,"엑셀,데이터분석","분석적사고,영어로소통,커뮤니케이션,인사이트도출,학사","SQL, Ecxel","리서치, 데이터 분석, 통계, 대시보드 구축",...,0,0,0,0,0,0,0,1,0,1
30,32,원티드,데이터 분석가,센트비,[Corporate Development] Data Analyst,데이터 분석가,"데이터분석,모바일서비스데이터,코호트분석,retention,clv","커뮤니케이션,영어로소통,인사이트도출","SQL, Python, Tableau, Redash","데이터 마트 설계, 데이터 마트, 데이터 파이프라인 구축",...,0,0,0,0,0,0,0,1,0,1
31,33,원티드,데이터 분석가,몰로코,Senior/Staff Data Scientist - Growth Analytics,데이터 사이언티스트,"통계,실험설계,가설검정,회귀분석,시계열분석,지표설정,비즈니스분석,데이터사이언스","커뮤니케이션,프로젝트관리,우선순위설정,협업능력,경력5년,석사학위,교차문화적파트에대한...","Python, SQL","빅데이터, 데이터 추출, 데이터 분석, 통계, 통계 분석",...,0,1,0,1,0,0,0,0,1,1
65,68,원티드,데이터 분석가,에이비일팔공(AB180),Data Scientist,데이터 사이언티스트,"통계,머신러닝,딥러닝,app/web서비스데이터,사용자행동로그,모델링,데이터추출,데이...","논리적사고,분석적사고,영어논문활용한지식습득,문제정의,가설수립,인사이트도출","Python, R, Tensorflow, PyTorch, scikit-learn, SQL","광고, 커머스, 추천 알고리즘, 빅데이터, App/Web 서비스 데이터, 플랫폼 데...",...,1,0,0,0,0,0,0,1,0,1
67,70,원티드,데이터 분석가,앰버로드,Data Scientist,데이터 사이언티스트,"데이터분석,데이터전처리,모델링,데이터가공,데이터시각화,제조업데이터","논리적사고,분석적사고,문제해결능력,커뮤니케이션,인사이트도출,인내와끈기,영어논문이해","Python, Pandas, Matplotlib","데이터 전처리, 데이터 가공, 데이터 분석",...,0,0,0,0,0,0,0,1,0,1

In [2793]:
# 특정 단어가 포함된 단어의 개수 세기
df['Soft Skill'].apply(lambda x: 1 if '논문' in x else 0).sum()

5

14. 도메인 : 이해, 관심

In [2794]:
# '관심/경험' 컬럼 생성
keywords = ['이해', '관심', '경험']
df['관심/경험'] = df['Soft Skill'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['관심/경험'].sum()

30

In [2795]:
df[df['관심/경험'] == 1].head(5)

,Unnamed: 0,사이트,검색 키워드,기업이름,포지션이름,포지션이름 전처리,Hard Skill,Soft Skill,Tool,hard plus,...,리더십,책임감,적극적,의지/열정,창의력,비즈니스,액션도출,Agile,영어,관심/경험
5,6,"원티드,사람인",데이터 분석가,스펙터,데이터 분석가(사이언티스트),"데이터 분석가, 데이터 사이언티스트","데이터사이언스,컴퓨터공학,통계학,수학,데이터베이스,머신러닝,딥러닝,생성형ai,데이터시각화","문제해결능력,비즈니스에대한깊은이해","Python, R, SQL, Tableau, Power BI","AWS, 클라우드 환경, 데이터 처리, 데이터 분석, 자동화, 데이터 파이프라인 구...",...,0,0,0,0,0,1,0,0,0,1
6,7,"원티드,잡코리아",데이터 분석가,"브레이브모바일(숨고,Soomgo)",Product Data Analyst,데이터 분석가,"인하우스데이터분석,sql,bi툴,a/b테스트,로그데이터분석","agile조직경험,제품분석경험,팀원들과의커뮤니케이션능력","SQL, Tableau, Redash","데이터 분석, Behavior Data, 사용자 행동 로그",...,0,0,0,0,0,0,0,1,0,1
9,10,"원티드,잡코리아",데이터 분석가,넥슨코리아,데이터 분석가 (FPS 게임 이상탐지),데이터 분석가,"이상탐지,ml,ai,통계,수학,컴퓨터과학분야학위,데이터사이언스","팀워크,커리어개발관심",없음,"시계열 데이터, 다변량 시계열 데이터 분류, 분류 모델, 이상 탐지, ML/DL 알...",...,0,0,0,1,0,0,0,0,0,1
12,13,원티드,데이터 분석가,바비톡,Data Analyst,데이터 분석가,"빅데이터핸들링역량,데이터분석,코호트분석,a/b테스트,funnel분석,retentio...","협의능력,실행능력,모바일서비스데이터분석방법에대한이해","SQL, Amazon Athena, Trino, Google BigQuery, Am...","데이터 시각화 , 데이터 분석, 데이터 적재, 빅데이터, 데이터 가공",...,0,0,0,0,0,1,0,0,0,1
16,17,원티드,데이터 분석가,딥인사이트,Data Scientist,데이터 사이언티스트,"이공계연구경험,통계,데이터고도화,dl,dl모델성능향상","인공지능에대한깊은이해,관련분야학위,논문it관련지식,sw테스트업무에대한관심","SQL, Python, Pytorch","MLOps 경험, 프로그래밍 언어, 개발",...,0,0,0,1,0,0,0,0,0,1

In [2796]:
# 특정 단어가 포함된 단어의 개수 세기
df['Soft Skill'].apply(lambda x: 1 if '경험' in x else 0).sum()

11

15. 학력 : 석사, 석박, 박사, 학사, 학위

In [2797]:
# '학력' 컬럼 생성
keywords = ['석사', '박사', '학위', '석박', '학사']
df['학력'] = df['Soft Skill'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['학력'].sum()

49

Soft Skill 코사인 유사도

In [2798]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 41 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  235 non-null    int64
 1   사이트         235 non-null    object
 2   검색 키워드      235 non-null    object
 3   기업이름        235 non-null    object
 4   포지션이름       235 non-null    object
 5   포지션이름 전처리   235 non-null    object
 6   Hard Skill  235 non-null    object
 7   Soft Skill  235 non-null    object
 8   Tool        235 non-null    object
 9   hard plus   235 non-null    object
 10  soft plus   235 non-null    object
 11  tool plus   235 non-null    object
 12  DA          235 non-null    int64
 13  통계          235 non-null    int64
 14  ML          235 non-null    int64
 15  DL          235 non-null    int64
 16  시각화         235 non-null    int64
 17  데이터 가공      235 non-null    int64
 18  빅데이터        235 non-null    int64
 19  클라우드        235 non-null    int64
 20  파이프라인       235 non-null    int64
 21  그로스해킹       235 non-null    int64
 22  로그          235 non-null    int64
 23  마케팅         235 non-null    int64
 24  도메인         235 non-null    int64
 25  프로그래밍언어     235 non-null    int64
 26  의사소통        235 non-null    int64
 27  논리적/분석적 사고  235 non-null    int64
 28  문제해결능력      235 non-null    int64
 29  프로세스        235 non-null    int64
 30  리더십         235 non-null    int64
 31  책임감         235 non-null    int64
 32  적극적         235 non-null    int64
 33  의지/열정       235 non-null    int64
 34  창의력         235 non-null    int64
 35  비즈니스        235 non-null    int64
 36  액션도출        235 non-null    int64
 37  Agile       235 non-null    int64
 38  영어          235 non-null    int64
 39  관심/경험       235 non-null    int64
 40  학력          235 non-null    int64
dtypes: int64(30), object(11)
memory usage: 75.4+ KB

In [2799]:
selected_columns_soft_skill = ['Unnamed: 0', '의사소통', '논리적/분석적 사고', '문제해결능력', '프로세스', '리더십', '책임감', '적극적', 
                               '의지/열정', '창의력', '비즈니스', '액션도출', 'Agile', '영어', '관심/경험', '학력']

selected_soft_skill = df[selected_columns_soft_skill]
selected_soft_skill

,Unnamed: 0,의사소통,논리적/분석적 사고,문제해결능력,프로세스,리더십,책임감,적극적,의지/열정,창의력,비즈니스,액션도출,Agile,영어,관심/경험,학력
0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,3,1,1,1,1,0,0,0,0,1,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,5,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,263,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
231,264,1,0,1,0,0,0,0,0,1,0,0,0,1,0,1
232,265,1,1,1,0,0,0,0,1,1,0,0,1,0,0,0
233,266,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
234,267,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0

In [2800]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import StandardScaler

# 데이터 스케일링
scaler = StandardScaler()
scaled_df = scaler.fit_transform(selected_soft_skill.iloc[:, 1:])

# 코사인 유사도 계산
cosine_sim = cosine_similarity(scaled_df)

# 결과 확인
print(cosine_sim)

[[ 1.          0.60130332 -0.08645763 ... -0.09611389  0.26061779
   0.0663138 ]
 [ 0.60130332  1.          0.08955621 ...  0.03132672 -0.04902207
  -0.17595061]
 [-0.08645763  0.08955621  1.         ...  0.58629792  0.1406996
   0.04700572]
 ...
 [-0.09611389  0.03132672  0.58629792 ...  1.          0.07681318
   0.0144186 ]
 [ 0.26061779 -0.04902207  0.1406996  ...  0.07681318  1.
   0.67339887]
 [ 0.0663138  -0.17595061  0.04700572 ...  0.0144186   0.67339887
   1.        ]]

In [2801]:
# Unnamed: 0 컬럼의 인덱스 추출
index_109 = selected_soft_skill[selected_soft_skill['Unnamed: 0'] == 109].index[0]

# 코사인 유사도 배열에서 index_47 행의 유사도 추출
cosine_sim_47 = cosine_sim[index_109]

# 유사도를 기준으로 내림차순으로 정렬하여 상위 6개 인덱스 추출 (첫 번째는 자기 자신이므로 6개)
similar_indices = cosine_sim_47.argsort()[:-6:-1]

# 결과 출력
print(similar_indices)

[126  64  48  32 104]

In [2802]:
import numpy as np

# 'Unnamed: 0' 컬럼의 인덱스
index = 109

# 가장 유사한 데이터의 인덱스 찾기
similar_indices = np.argsort(cosine_sim[index])[::-1][1:6]  # 자기 자신을 제외한 가장 유사한 5개의 데이터 인덱스

# 가장 유사한 데이터 출력
similar_data = selected_soft_skill.iloc[similar_indices]
print(similar_data)

     Unnamed: 0  의사소통  논리적/분석적 사고  문제해결능력  프로세스  리더십  책임감  적극적  의지/열정  창의력  \
173         194     0           1       0     1    1    0    0      0    0
212         242     1           1       0     1    1    0    0      0    0
165         183     0           1       0     1    1    0    0      1    0
26           28     1           0       0     0    1    0    0      0    0
215         246     1           1       0     1    1    0    0      1    0

     비즈니스  액션도출  Agile  영어  관심/경험  학력
173     1     1      0   0      0   0
212     0     1      0   0      0   0
165     1     1      0   0      0   0
26      1     0      0   0      0   0
215     1     0      0   0      0   0

TOOL 전처리

In [2803]:
df['Tool']

0                                                 Python
1                                            SQL, Python
2      TensorFlow, Kersas, PyTorch, ChatGPT, Stable D...
3                                                   Java
4                                                     없음
                             ...
230                                                   없음
231                                       Python, R, SQL
232    Python, pandas, NumPy, scikit-learn, TensorFlo...
233    Python, SQL, Hadoop, Spark, Hive, TensorFlow, ...
234    SQL, Python, R, TensorFlow, PyTorch, Hadoop, S...
Name: Tool, Length: 235, dtype: object

In [2804]:
import re

# 정규표현식을 사용하여 쉼표와 쉼표 사이의 R을 'R'로 변환
df['Tool'] = df['Tool'].apply(lambda x: re.sub(r',\s*R\s*,', ", 'R',", x))
df['Tool'] = df['Tool'].apply(lambda x: re.sub(r',\s*R$', ", 'R'", x))
df['Tool'] = df['Tool'].apply(lambda x: re.sub(r'^R\s*,', "'R',", x))
df['Tool'] = df['Tool'].apply(lambda x: re.sub(r'^R$', "'R'", x))

In [2805]:
df['Tool']

0                                                 Python
1                                            SQL, Python
2      TensorFlow, Kersas, PyTorch, ChatGPT, Stable D...
3                                                   Java
4                                                     없음
                             ...
230                                                   없음
231                                     Python, 'R', SQL
232    Python, pandas, NumPy, scikit-learn, TensorFlo...
233    Python, SQL, Hadoop, Spark, Hive, TensorFlow, ...
234    SQL, Python, 'R', TensorFlow, PyTorch, Hadoop,...
Name: Tool, Length: 235, dtype: object

In [2806]:
# Tool 열의 띄어쓰기 없애기
df['Tool1'] = df['Tool'].apply(lambda x: x.replace(' ', ''))

# 결과 확인
print(df['Tool1'])

0                                                 Python
1                                             SQL,Python
2      TensorFlow,Kersas,PyTorch,ChatGPT,StableDiffus...
3                                                   Java
4                                                     없음
                             ...
230                                                   없음
231                                       Python,'R',SQL
232    Python,pandas,NumPy,scikit-learn,TensorFlow,Py...
233      Python,SQL,Hadoop,Spark,Hive,TensorFlow,PyTorch
234    SQL,Python,'R',TensorFlow,PyTorch,Hadoop,Spark...
Name: Tool1, Length: 235, dtype: object

In [2807]:
# Tool1 열의 영어 단어를 모두 소문자로 변환
df['Tool1'] = df['Tool1'].apply(lambda x: x.lower())

# 각 행의 "Tool1" 열 값을 가져와서 쉼표로 분리하여 리스트로 만들기
tool1_list = df['Tool1'].apply(lambda x: x.split(','))

# 모든 리스트를 하나의 리스트로 합치기
all_tools = [skill.strip() for sublist in tool1_list for skill in sublist]

# 고유한 스킬 찾기
unique_tools = set(all_tools)

# 각 스킬의 개수 세기
tool_counts = {skill: all_tools.count(skill) for skill in unique_tools}

# 스킬의 개수를 기준으로 내림차순으로 정렬
all_tool_counts = sorted(tool_counts.items(), key=lambda x: x[1], reverse=True)

# 결과 출력
for skill, count in all_tool_counts:
    print(f"{skill}: {count}")

sql: 139
python: 131
tableau: 57
'r': 47
없음: 38
pytorch: 22
tensorflow: 20
excel: 18
bi: 16
powerbi: 14
spark: 13
redash: 13
bigquery: 11
pandas: 10
amplitude: 10
scikit-learn: 8
airflow: 8
hadoop: 7
googleanalytics: 7
keras: 7
ga4: 6
mysql: 6
etl: 6
microsoftoffice: 6
matplotlib: 6
lookerstudio: 6
sas: 5
superset: 5
hive: 5
java: 5
aws: 4
googledatastudio: 4
snowflake: 4
presto: 4
oracle: 4
firebase: 4
matlab: 4
numpy: 4
linux: 4
googlebigquery: 3
c++: 3
scala: 3
azure: 3
databricks: 3
msoffice: 3
ga: 3
: 2
msofficeexcel: 2
spss: 2
qlikview: 2
xml: 2
hql: 2
erwin: 2
seaborn: 2
adobeanalytics: 2
quicksight: 2
googlecloudplatform: 2
github: 2
metabase: 2
mssql: 2
ibmdb2: 2
git: 2
dplyr: 2
amazonathena: 2
enterprisearchitect: 2
uml: 2
amazonredshift: 2
c: 2
visio: 2
dbms: 2
jupyter: 1
ecxel: 1
pyspark: 1
apacheairflow: 1
cognos: 1
webapplication: 1
fastapi: 1
radash: 1
s3: 1
android: 1
한글: 1
kersas: 1
saperp(ecc: 1
jupyterhub: 1
zeppelin: 1
docker&kubernetes: 1
brandwatch: 1
mongodb: 1
shap: 1
googlestudio: 1
sparkmllib: 1
mxnet: 1
s/4hana): 1
googlesheets: 1
awsarchitecture: 1
lookerstudio-googledatastudio: 1
mmdet: 1
datastudio(lookerstudio): 1
plotly: 1
sapbo: 1
appsflyer: 1
docker: 1
postresql: 1
chatgpt: 1
googletagmanager: 1
devops: 1
ql: 1
mlops: 1
on-premise: 1
lightgbm: 1
kubernetes: 1
treamlit: 1
postgresql: 1
bitool: 1
dbt: 1
googlecloud: 1
braze: 1
xgboost: 1
businessobjects: 1
mariadb: 1
mmp: 1
opencv: 1
amazonauroramysql: 1
tibero: 1
sol: 1
sashadoop: 1
통계소프트웨어: 1
rshiny: 1
gtm(googletagmanager): 1
bentoml: 1
java(springboot): 1
go: 1
rubyonrails: 1
ncp: 1
nosql: 1
looker: 1
stablediffusion: 1
aws/gcp: 1
sprinklr: 1
sre: 1
nlp: 1
trino: 1
meltwater: 1
grafana: 1
windows: 1
mspowerpoint: 1
googlecloudsqlforpostgresql: 1
detectron2: 1
mlflow: 1
nifi: 1
gcp: 1
googlecloudstorage: 1
midjourney: 1
jira: 1
redmine: 1
gemini: 1
bex/a-office: 1
torch: 1
엑셀: 1
googleanalytics4: 1
sapbi: 1
scipy: 1
javascript: 1
awsathena: 1

In [2808]:
print(unique_tools)

{'', 'msofficeexcel', 'jupyter', 'hadoop', 'ecxel', 'pyspark', 'apacheairflow', 'cognos', 'pandas', 'webapplication', 'ga4', 'fastapi', 'radash', 'spss', 's3', 'android', '한글', 'sql', 'kersas', 'bi', 'aws', 'googledatastudio', 'qlikview', 'saperp(ecc', 'snowflake', 'jupyterhub', 'zeppelin', 'docker&kubernetes', 'brandwatch', 'mongodb', 'shap', 'googlestudio', 'sparkmllib', 'mxnet', 's/4hana)', '없음', 'googlesheets', 'awsarchitecture', 'lookerstudio-googledatastudio', 'mmdet', 'mysql', 'presto', 'oracle', 'sas', 'xml', 'datastudio(lookerstudio)', 'firebase', 'plotly', 'googlebigquery', 'sapbo', 'appsflyer', 'docker', 'postresql', 'chatgpt', 'googletagmanager', 'devops', 'ql', 'mlops', 'hql', 'scikit-learn', 'on-premise', 'tensorflow', 'superset', 'erwin', 'lightgbm', 'etl', 'kubernetes', 'microsoftoffice', 'spark', 'excel', 'treamlit', 'postgresql', 'bitool', 'dbt', 'googlecloud', 'matplotlib', 'braze', 'seaborn', 'xgboost', 'businessobjects', 'mariadb', 'adobeanalytics', 'hive', 'mmp', 'opencv', 'amazonauroramysql', 'python', 'tibero', 'sol', 'googleanalytics', 'sashadoop', 'java', '통계소프트웨어', 'rshiny', 'c++', 'gtm(googletagmanager)', 'bentoml', 'quicksight', 'java(springboot)', 'googlecloudplatform', 'go', 'github', 'tableau', 'keras', 'lookerstudio', 'rubyonrails', 'ncp', 'nosql', 'scala', 'metabase', 'looker', 'mssql', 'ibmdb2', 'stablediffusion', 'git', 'aws/gcp', 'sprinklr', "'r'", 'dplyr', 'amazonathena', 'sre', 'matlab', 'nlp', 'enterprisearchitect', 'trino', 'meltwater', 'grafana', 'windows', 'mspowerpoint', 'redash', 'googlecloudsqlforpostgresql', 'azure', 'databricks', 'detectron2', 'mlflow', 'numpy', 'nifi', 'gcp', 'googlecloudstorage', 'airflow', 'midjourney', 'msoffice', 'jira', 'powerbi', 'redmine', 'uml', 'ga', 'pytorch', 'amazonredshift', 'c', 'gemini', 'bex/a-office', 'torch', '엑셀', 'linux', 'visio', 'amplitude', 'bigquery', 'googleanalytics4', 'sapbi', 'scipy', 'javascript', 'awsathena', 'dbms'}

1. SQL

In [2809]:
# SQL' 컬럼 생성
keywords = ['sql']
df['SQL'] = df['Tool1'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['SQL'].sum()

144

In [2810]:
df.head(3)

,Unnamed: 0,사이트,검색 키워드,기업이름,포지션이름,포지션이름 전처리,Hard Skill,Soft Skill,Tool,hard plus,...,의지/열정,창의력,비즈니스,액션도출,Agile,영어,관심/경험,학력,Tool1,SQL
0,1,원티드,데이터 분석가,제네시스랩,Data Scientist,데이터 사이언티스트,"통계분석,데이터마이닝,머신러닝,딥러닝,영상데이터,음성데이터,텍스트데이터,데이터보안,...",분석적사고,Python,"딥러닝, 딥러닝 추론 결과 분석 경험, 모델 성능 향상, AI, 데이터 수집, 데이...",...,0,0,0,0,0,0,0,0,python,0
1,2,원티드,데이터 분석가,에어프레미아랩스,Data Analyst,데이터 분석가,"데이터전처리,데이터분석업무경험","경력5년,데이터에기반한커뮤니케이션,논리적사고,질문","SQL, Python","A/B 테스트, BI Tool, 데이터 시각화, 대시보드 구축, 데이터마트, 데이터...",...,0,0,0,0,0,0,0,0,"sql,python",1
2,3,"원티드,잡코리아",데이터 분석가,매드업,[광고사업부] 데이터 분석가,데이터 분석가,"머신러닝,딥러닝,프레임워크,협업개발툴,데이터분석기법,가설검정,회귀,인과관계,상관관계...","협업,분석및문제해결능력,새로운기술,창의적사고,커뮤니케이션,통찰력,경력3년","TensorFlow, Kersas, PyTorch, ChatGPT, Stable D...","Mobile Measurement Platforms, 데이터베이스, 데이터 시각화,...",...,0,1,0,0,0,0,0,0,"tensorflow,kersas,pytorch,chatgpt,stablediffus...",0

2. Python

In [2811]:
# Python' 컬럼 생성
keywords = ['python']
df['Python'] = df['Tool1'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['Python'].sum()

131

In [2812]:
df.head(3)

,Unnamed: 0,사이트,검색 키워드,기업이름,포지션이름,포지션이름 전처리,Hard Skill,Soft Skill,Tool,hard plus,...,창의력,비즈니스,액션도출,Agile,영어,관심/경험,학력,Tool1,SQL,Python
0,1,원티드,데이터 분석가,제네시스랩,Data Scientist,데이터 사이언티스트,"통계분석,데이터마이닝,머신러닝,딥러닝,영상데이터,음성데이터,텍스트데이터,데이터보안,...",분석적사고,Python,"딥러닝, 딥러닝 추론 결과 분석 경험, 모델 성능 향상, AI, 데이터 수집, 데이...",...,0,0,0,0,0,0,0,python,0,1
1,2,원티드,데이터 분석가,에어프레미아랩스,Data Analyst,데이터 분석가,"데이터전처리,데이터분석업무경험","경력5년,데이터에기반한커뮤니케이션,논리적사고,질문","SQL, Python","A/B 테스트, BI Tool, 데이터 시각화, 대시보드 구축, 데이터마트, 데이터...",...,0,0,0,0,0,0,0,"sql,python",1,1
2,3,"원티드,잡코리아",데이터 분석가,매드업,[광고사업부] 데이터 분석가,데이터 분석가,"머신러닝,딥러닝,프레임워크,협업개발툴,데이터분석기법,가설검정,회귀,인과관계,상관관계...","협업,분석및문제해결능력,새로운기술,창의적사고,커뮤니케이션,통찰력,경력3년","TensorFlow, Kersas, PyTorch, ChatGPT, Stable D...","Mobile Measurement Platforms, 데이터베이스, 데이터 시각화,...",...,1,0,0,0,0,0,0,"tensorflow,kersas,pytorch,chatgpt,stablediffus...",0,0

3. 'R'

In [2813]:
# 'r' 단어를 찾기 위한 정규표현식 패턴 설정
pattern = r"'r'"

# 'Tool1' 열에서 'r' 단어가 있는지 여부를 검사하여 'R' 열 생성
df['R'] = df['Tool1'].str.contains(pattern).astype(int)

# 결과 확인
df['R'].sum()

47

In [2814]:
df[df['R'] == 1].head(3)

,Unnamed: 0,사이트,검색 키워드,기업이름,포지션이름,포지션이름 전처리,Hard Skill,Soft Skill,Tool,hard plus,...,비즈니스,액션도출,Agile,영어,관심/경험,학력,Tool1,SQL,Python,R
5,6,"원티드,사람인",데이터 분석가,스펙터,데이터 분석가(사이언티스트),"데이터 분석가, 데이터 사이언티스트","데이터사이언스,컴퓨터공학,통계학,수학,데이터베이스,머신러닝,딥러닝,생성형ai,데이터시각화","문제해결능력,비즈니스에대한깊은이해","Python, 'R', SQL, Tableau, Power BI","AWS, 클라우드 환경, 데이터 처리, 데이터 분석, 자동화, 데이터 파이프라인 구...",...,1,0,0,0,1,0,"python,'r',sql,tableau,powerbi",1,1,1
8,9,원티드,데이터 분석가,아우름플래닛(Liner),프로덕트 데이터 분석가,데이터 분석가,"데이터전처리,데이터분석,모델링,통계학,실험인사이트","경력3년,협업,데이터스토리텔링","SQL, Python, 'R'","데이터 마트, 데이터 마트 구축, 데이터 파이프라인 구축, 데이터 분석, 머신러닝,...",...,0,0,0,0,0,0,"sql,python,'r'",1,1,1
11,12,원티드,데이터 분석가,버즈빌,Data Analyst,데이터 분석가,"aarrr,funnel분석,carryingcapacity,코호트분석,프레임워크,데이...","논리적사고,분석적사고,문제정의,인사이트도출,액션도출,경력2년","SQL, Python, 'R'","데이터 마이닝, 통계적 분석, 대용량 데이터 분산처리, 데이터베이스, 제품-유저 인...",...,0,1,0,0,0,0,"sql,python,'r'",1,1,1

4. 시각화 툴

In [2815]:
# '시각화 툴' 컬럼 생성
keywords = ['tableau', 'powerbi', 'redash', 'treamlit', 'grafana', 'visio', 'lookerstudio', 'qlikview', 'plotly',
             'looker', 'googledatastudio', 'metabase', 'cognos', 'quicksight', 'datastudio(lookerstudio)', 'bitool', 'superset']
df['시각화 툴'] = df['Tool1'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['시각화 툴'].sum()

64

In [2816]:
# 특정 단어가 포함된 단어의 개수 세기
df['Tool1'].apply(lambda x: 1 if '통계' in x else 0).sum()

1

5. 로그분석

In [2817]:
# '로그분석' 컬럼 생성
keywords = ['ga', 'googleanalytics', 'ga4', 'gtm' 'amplitude', 'adobeanalytics', 'firebase', 'braze']
df['로그분석'] = df['Tool1'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['로그분석'].sum()

20

In [2818]:
df[df['로그분석'] == 1].head(3)

,Unnamed: 0,사이트,검색 키워드,기업이름,포지션이름,포지션이름 전처리,Hard Skill,Soft Skill,Tool,hard plus,...,Agile,영어,관심/경험,학력,Tool1,SQL,Python,R,시각화 툴,로그분석
12,13,원티드,데이터 분석가,바비톡,Data Analyst,데이터 분석가,"빅데이터핸들링역량,데이터분석,코호트분석,a/b테스트,funnel분석,retentio...","협의능력,실행능력,모바일서비스데이터분석방법에대한이해","SQL, Amazon Athena, Trino, Google BigQuery, Am...","데이터 시각화 , 데이터 분석, 데이터 적재, 빅데이터, 데이터 가공",...,0,0,1,0,"sql,amazonathena,trino,googlebigquery,amazonre...",1,0,0,0,1
17,18,"원티드,잡코리아",데이터 분석가,발란(BALAAN),그로스 데이터 분석가,데이터 분석가,"데이터분석,ga4,mmp,crm,funnel분석,코호트분석,retention,aar...","논리적사고,분석적사고,문제정의,가설수립,인사이트도출","SQL, Python, GA4, MMP, BigQuery, Tableau, Look...","데이터 파이프라인 구축, 이커머스, 패션 이커머스, 플랫폼 마케팅, CRM, 개발,...",...,0,0,0,0,"sql,python,ga4,mmp,bigquery,tableau,lookerstudio",1,1,0,1,1
19,20,원티드,데이터 분석가,펑타이그레이터차이나(피티코리아),데이터 분석,데이터 분석가,"데이터추출,데이터분석,로그데이터,통계","원활한커뮤니케이션,인사이트도출,경력3~7년","Adobe Analytics, MS Office, 'R', Python, SQL, ...","App/Web 서비스 데이터, 데이터 시각화, 대시보드 구축",...,0,0,0,0,"adobeanalytics,msoffice,'r',python,sql,spss",1,1,1,0,1

6. BigData

In [2819]:
# 'BigData' 컬럼 생성
keywords = ['hadoop', 'bigquery', 'snowflake', 'spark', 'hive', 'presto', 'nifi', 'databricks', 'sashadoop', 'etl'
            'googlebigquery', 'amazonredshift', 'airflow', 'trino', 'databricks']
df['BigData'] = df['Tool1'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['BigData'].sum()

33

In [2820]:
# 특정 단어가 포함된 단어의 개수 세기
df['Tool1'].apply(lambda x: 1 if 'storage' in x else 0).sum()

1

7.Cloud

In [2821]:
# 'Cloud' 컬럼 생성
keywords = ['aws', 'aws/gcp', 'googlecloud', 's3', 'gcp', 'cloud', 'amazonweb', 'bigquery', 'ncp']
df['Cloud'] = df['Tool1'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['Cloud'].sum()

22

8. 데이터베이스 관리

In [2822]:
# 'database' 컬럼 생성
keywords = [ 'mongodb', '통계소프트웨어', 'nosql', 'mssql', 'snowflake', 'googlecloudsqlforpostgresql', 'amazonauroramysql', 'ibmdb2', 
            'postgresql', 'tibero', 'mysql', 'mariadb', 'amazonredshift', 'amazonathena', 'saperp', 'oracle', 'postresql', 'databricks']
df['database'] = df['Tool1'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['database'].sum()

19

9. 개발

In [2823]:
# 'app/web' 컬럼 생성
keywords = ['shiny', 'kafka', 'zeppelin', 'jira', 'ruby', 'web', 'kuberne' 'c+', 'java', 'scala', 'linux']
df['개발'] = df['Tool1'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['개발'].sum()

17

10. 머신러닝

In [2824]:
# 'ML' 컬럼 생성
keywords = ['python', 'lightgbm', 'numpy', 'pandas', 'scikit', 'boost', 'scipy', 'shap', 'googleanaly', 'mlflow']
df['ML'] = df['Tool1'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['ML'].sum()

138

In [2825]:
# 특정 단어가 포함된 단어의 개수 세기
df['Tool1'].apply(lambda x: 1 if 'mlflow' in x else 0).sum()

1

11. 딥러닝

In [2826]:
# 'DL' 컬럼 생성
keywords = ['pytorch', 'keras', 'tensorflow', 'mmdet', 'mxnet', 'pyspark', 'opencv', 'nlp', 'mlflow', 'airflow', 'torch']
df['DL'] = df['Tool1'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['DL'].sum()

33

In [2827]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 51 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  235 non-null    int64
 1   사이트         235 non-null    object
 2   검색 키워드      235 non-null    object
 3   기업이름        235 non-null    object
 4   포지션이름       235 non-null    object
 5   포지션이름 전처리   235 non-null    object
 6   Hard Skill  235 non-null    object
 7   Soft Skill  235 non-null    object
 8   Tool        235 non-null    object
 9   hard plus   235 non-null    object
 10  soft plus   235 non-null    object
 11  tool plus   235 non-null    object
 12  DA          235 non-null    int64
 13  통계          235 non-null    int64
 14  ML          235 non-null    int64
 15  DL          235 non-null    int64
 16  시각화         235 non-null    int64
 17  데이터 가공      235 non-null    int64
 18  빅데이터        235 non-null    int64
 19  클라우드        235 non-null    int64
 20  파이프라인       235 non-null    int64
 21  그로스해킹       235 non-null    int64
 22  로그          235 non-null    int64
 23  마케팅         235 non-null    int64
 24  도메인         235 non-null    int64
 25  프로그래밍언어     235 non-null    int64
 26  의사소통        235 non-null    int64
 27  논리적/분석적 사고  235 non-null    int64
 28  문제해결능력      235 non-null    int64
 29  프로세스        235 non-null    int64
 30  리더십         235 non-null    int64
 31  책임감         235 non-null    int64
 32  적극적         235 non-null    int64
 33  의지/열정       235 non-null    int64
 34  창의력         235 non-null    int64
 35  비즈니스        235 non-null    int64
 36  액션도출        235 non-null    int64
 37  Agile       235 non-null    int64
 38  영어          235 non-null    int64
 39  관심/경험       235 non-null    int64
 40  학력          235 non-null    int64
 41  Tool1       235 non-null    object
 42  SQL         235 non-null    int64
 43  Python      235 non-null    int64
 44  R           235 non-null    int64
 45  시각화 툴       235 non-null    int64
 46  로그분석        235 non-null    int64
 47  BigData     235 non-null    int64
 48  Cloud       235 non-null    int64
 49  database    235 non-null    int64
 50  개발          235 non-null    int64
dtypes: int64(39), object(12)
memory usage: 93.8+ KB

우대사항 전처리 - hard plus

In [2828]:
# hard plus 열의 띄어쓰기 없애기
df['hard plus'] = df['hard plus'].apply(lambda x: x.replace(' ', ''))

# hard plus 열의 영어 단어를 모두 소문자로 변환
df['hard plus'] = df['hard plus'].apply(lambda x: x.lower())

# 결과 확인
print(df['hard plus'])

0         딥러닝,딥러닝추론결과분석경험,모델성능향상,ai,데이터수집,데이터수집설계,코드품질개선
1      a/b테스트,bitool,데이터시각화,대시보드구축,데이터마트,데이터마트설계,airf...
2      mobilemeasurementplatforms,데이터베이스,데이터시각화,ai개발,...
3                                                     없음
4                             데이터파이프라인구축,웹크롤링,restfulapi
                             ...
230    데이터분석,머신러닝,딥러닝,모델링,데이터시각화,대용량데이터분산처리,데이터마트,클라우드환경
231                                                   없음
232    데이터분석,머신러닝,딥러닝,모델링,항공기지식,데이터사이언스데이터베이스,프로그래밍언어...
233                                                   없음
234                                                   없음
Name: hard plus, Length: 235, dtype: object

DA plus

In [2829]:
# 'DA plus' 컬럼 생성
keywords = ['데이터분석']
df['DA plus'] = df['hard plus'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['DA plus'].sum()

109

In [2830]:
df[df['DA plus'] == 1].head(3)

,Unnamed: 0,사이트,검색 키워드,기업이름,포지션이름,포지션이름 전처리,Hard Skill,Soft Skill,Tool,hard plus,...,SQL,Python,R,시각화 툴,로그분석,BigData,Cloud,database,개발,DA plus
5,6,"원티드,사람인",데이터 분석가,스펙터,데이터 분석가(사이언티스트),"데이터 분석가, 데이터 사이언티스트","데이터사이언스,컴퓨터공학,통계학,수학,데이터베이스,머신러닝,딥러닝,생성형ai,데이터시각화","문제해결능력,비즈니스에대한깊은이해","Python, 'R', SQL, Tableau, Power BI","aws,클라우드환경,데이터처리,데이터분석,자동화,데이터파이프라인구축,통계모델링,머신...",...,1,1,1,1,0,0,0,0,0,1
6,7,"원티드,잡코리아",데이터 분석가,"브레이브모바일(숨고,Soomgo)",Product Data Analyst,데이터 분석가,"인하우스데이터분석,sql,bi툴,a/b테스트,로그데이터분석","agile조직경험,제품분석경험,팀원들과의커뮤니케이션능력","SQL, Tableau, Redash","데이터분석,behaviordata,사용자행동로그",...,1,0,0,1,0,0,0,0,0,1
7,8,원티드/링크드인,데이터 분석가,에니아이(Aniai),Data Scientist,데이터 사이언티스트,"데이터분석,데이터전처리,딥러닝,딥러닝모델설계,통계분석,데이터분석툴","경력3년,기술적프레젠테이션,의사소통","Python, Matlab","데이터분석,통계분석,연구,데이터베이스,머신러닝,딥러닝,디지털신호처리,주파수,디지털필...",...,0,1,0,0,0,0,0,0,0,1

통계 plus

In [2831]:
# '통계 plus' 컬럼 생성
keywords = ['통계', '베이지안', '확률', '회귀']
df['통계 plus'] = df['hard plus'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['통계 plus'].sum()

38

ML plus

In [2832]:
# 'ML plus' 컬럼 생성
keywords = ['머신러닝','모델링','ml','파라미터','최적화','분류', 'mlops','예측','시계열']
df['ML plus'] = df['hard plus'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['ML plus'].sum()

81

DL plus

In [2833]:
# 'DL plus' 컬럼 생성
keywords = ['딥러닝','신경망','llm', '추천','알고리즘','검색','프레임워크','dl']
df['DL plus'] = df['hard plus'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['DL plus'].sum()

55

In [2834]:
# 특정 단어가 포함된 단어의 개수 세기
df['hard plus'].apply(lambda x: 1 if '대시보드' in x else 0).sum()

13

시각화 plus

In [2835]:
# '시각화 plus' 컬럼 생성
keywords = ['시각화', '대시보드','bi']
df['시각화 plus'] = df['hard plus'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['시각화 plus'].sum()

48

데이터 가공 plus

In [2836]:
# '데이터 가공 plus' 컬럼 생성
keywords = ['수집', '추출', '가공','데이터처리']
df['데이터 가공 plus'] = df['hard plus'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['데이터 가공 plus'].sum()

28

빅데이터 plus

In [2837]:
# '빅데이터 plus' 컬럼 생성
keywords = ['대용량', '대규모', '빅데이터']
df['빅데이터 plus'] = df['hard plus'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['빅데이터 plus'].sum()

28

In [2838]:
# 특정 단어가 포함된 단어의 개수 세기
df['hard plus'].apply(lambda x: 1 if '회귀' in x else 0).sum()

1

6. 클라우드 plus

In [2839]:
# '클라우드 plus' 컬럼 생성
keywords = ['클라우드']
df['클라우드 plus'] = df['hard plus'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['클라우드 plus'].sum()

35

7. 통계 plus

In [2840]:
# 특정 단어가 포함된 단어의 개수 세기
df['hard plus'].apply(lambda x: 1 if 'eda' in x else 0).sum()

0

8. 파이프라인 plus

In [2841]:
# '파이프라인 plus' 컬럼 생성
keywords = ['파이프라인','데이터마트', '웨어하우스', '데이터레이크', '데이터베이스', '인프라']
df['파이프라인 plus'] = df['hard plus'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['파이프라인 plus'].sum()

44

10. 그로스해킹 plus

In [2842]:
# '그로스해킹 plus' 컬럼 생성
keywords = ['a/b', 'aarrr', 'ltv', 'retention', 'funnel', '퍼널', 'clv', 'cltv', '코호트', '그로스', '지표', '비즈니스']
df['그로스해킹 plus'] = df['hard plus'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['그로스해킹 plus'].sum()

21

In [2843]:
# 특정 단어가 포함된 단어의 개수 세기
df['hard plus'].apply(lambda x: 1 if '유저' in x else 0).sum()

1

11. 로그 plus

In [2844]:
# '로그 plus' 컬럼 생성
keywords = ['로그', 'app/web', '사용자', '행동', '유저']
df['로그 plus'] = df['hard plus'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['로그 plus'].sum()

39

12. 마케팅 plus

In [2845]:
# '마케팅 plus' 컬럼 생성
keywords = ['마케팅', '프로덕트', '서비스', '비즈니스', '커머스']
df['마케팅 plus'] = df['hard plus'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['마케팅 plus'].sum()

56

In [2846]:
# 특정 단어가 포함된 단어의 개수 세기
df['hard plus'].apply(lambda x: 1 if '전략' in x else 0).sum()

1

In [2847]:
df[df['마케팅 plus'] == 1].head(3)

,Unnamed: 0,사이트,검색 키워드,기업이름,포지션이름,포지션이름 전처리,Hard Skill,Soft Skill,Tool,hard plus,...,ML plus,DL plus,시각화 plus,데이터 가공 plus,빅데이터 plus,클라우드 plus,파이프라인 plus,그로스해킹 plus,로그 plus,마케팅 plus
17,18,"원티드,잡코리아",데이터 분석가,발란(BALAAN),그로스 데이터 분석가,데이터 분석가,"데이터분석,ga4,mmp,crm,funnel분석,코호트분석,retention,aar...","논리적사고,분석적사고,문제정의,가설수립,인사이트도출","SQL, Python, GA4, MMP, BigQuery, Tableau, Look...","데이터파이프라인구축,이커머스,패션이커머스,플랫폼마케팅,crm,개발,프로그래밍언어",...,0,0,0,0,0,0,1,0,1,1
19,20,원티드,데이터 분석가,펑타이그레이터차이나(피티코리아),데이터 분석,데이터 분석가,"데이터추출,데이터분석,로그데이터,통계","원활한커뮤니케이션,인사이트도출,경력3~7년","Adobe Analytics, MS Office, 'R', Python, SQL, ...","app/web서비스데이터,데이터시각화,대시보드구축",...,0,0,1,0,0,0,0,0,1,1
37,39,원티드,데이터 분석가,쿠팡,"Staff, Data Analyst (Eats Strategy)",데이터 분석가,"비즈니스분석,데이터분석,데이터사이언스,fp&a,모델링,차원모델링,빅데이터,데이터시각...","분석적사고,디테일,비즈니스감각,효율적,빠르고역동적인환경,멀티테스킹역량,학사,경력5~8년","SQL, HQL, ETL, Excel, Tableau, Power BI","이커머스,음식배달업계,it산업,데이터분석",...,0,0,0,0,0,0,0,0,0,1

In [2848]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 63 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   235 non-null    int64
 1   사이트          235 non-null    object
 2   검색 키워드       235 non-null    object
 3   기업이름         235 non-null    object
 4   포지션이름        235 non-null    object
 5   포지션이름 전처리    235 non-null    object
 6   Hard Skill   235 non-null    object
 7   Soft Skill   235 non-null    object
 8   Tool         235 non-null    object
 9   hard plus    235 non-null    object
 10  soft plus    235 non-null    object
 11  tool plus    235 non-null    object
 12  DA           235 non-null    int64
 13  통계           235 non-null    int64
 14  ML           235 non-null    int64
 15  DL           235 non-null    int64
 16  시각화          235 non-null    int64
 17  데이터 가공       235 non-null    int64
 18  빅데이터         235 non-null    int64
 19  클라우드         235 non-null    int64
 20  파이프라인        235 non-null    int64
 21  그로스해킹        235 non-null    int64
 22  로그           235 non-null    int64
 23  마케팅          235 non-null    int64
 24  도메인          235 non-null    int64
 25  프로그래밍언어      235 non-null    int64
 26  의사소통         235 non-null    int64
 27  논리적/분석적 사고   235 non-null    int64
 28  문제해결능력       235 non-null    int64
 29  프로세스         235 non-null    int64
 30  리더십          235 non-null    int64
 31  책임감          235 non-null    int64
 32  적극적          235 non-null    int64
 33  의지/열정        235 non-null    int64
 34  창의력          235 non-null    int64
 35  비즈니스         235 non-null    int64
 36  액션도출         235 non-null    int64
 37  Agile        235 non-null    int64
 38  영어           235 non-null    int64
 39  관심/경험        235 non-null    int64
 40  학력           235 non-null    int64
 41  Tool1        235 non-null    object
 42  SQL          235 non-null    int64
 43  Python       235 non-null    int64
 44  R            235 non-null    int64
 45  시각화 툴        235 non-null    int64
 46  로그분석         235 non-null    int64
 47  BigData      235 non-null    int64
 48  Cloud        235 non-null    int64
 49  database     235 non-null    int64
 50  개발           235 non-null    int64
 51  DA plus      235 non-null    int64
 52  통계 plus      235 non-null    int64
 53  ML plus      235 non-null    int64
 54  DL plus      235 non-null    int64
 55  시각화 plus     235 non-null    int64
 56  데이터 가공 plus  235 non-null    int64
 57  빅데이터 plus    235 non-null    int64
 58  클라우드 plus    235 non-null    int64
 59  파이프라인 plus   235 non-null    int64
 60  그로스해킹 plus   235 non-null    int64
 61  로그 plus      235 non-null    int64
 62  마케팅 plus     235 non-null    int64
dtypes: int64(51), object(12)
memory usage: 115.8+ KB

우대사항 전처리 - soft plus

In [2849]:
# soft plus 열의 띄어쓰기 없애기
df['soft plus'] = df['soft plus'].apply(lambda x: x.replace(' ', ''))

# hard plus 열의 영어 단어를 모두 소문자로 변환
df['soft plus'] = df['soft plus'].apply(lambda x: x.lower())

# 결과 확인
print(df['soft plus'])

0                                                ai관심
1      새로운도메인,학구심,도메인지식,비즈니스임팩트,인사이트도출,액션도출,조직적/기술적개선
2                                 컴퓨터과학학위,ai학위,개발프로젝트
3                                                  없음
4                   관련전공,고객중심사고,데이터기반의사결정,협업능력,커뮤니케이션
                            ...
230                                      개발지식,서비스개선경험
231                                                없음
232             관련전공,석사,박사,공모전입상,프로젝트경험,서비스런칭경험,포트폴리오
233                                                없음
234                                                없음
Name: soft plus, Length: 235, dtype: object

1. 전공

In [2850]:
# '전공' 컬럼 생성
keywords = ['전공']
df['전공'] = df['soft plus'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['전공'].sum()

76

In [2851]:
# 특정 단어가 포함된 단어의 개수 세기
df['soft plus'].apply(lambda x: 1 if '방향성' in x else 0).sum()

4

2. 의사소통 plus

In [2852]:
# '협업능력' 컬럼 생성
keywords = ['협업', '커뮤니케이션']
df['의사소통 plus'] = df['soft plus'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['의사소통 plus'].sum()

44

3. 리더십 plus

In [2853]:
# '리더십 plus' 컬럼 생성
keywords = ['리딩','조직관리','지도력','가이드라인','의사결정','방향성','리더', '관리']
df['리더십 plus'] = df['soft plus'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['리더십 plus'].sum()

25

In [2854]:
# 특정 단어가 포함된 단어의 개수 세기
df['soft plus'].apply(lambda x: 1 if '피드' in x else 0).sum()

0

4. 문제해결능력 plus

In [2855]:
# '문제해결능력 plus' 컬럼 생성
keywords = ['문제해결', '인사이트', '액션', '문제정의', '전략', '목표','추론']
df['문제해결능력 plus'] = df['soft plus'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['문제해결능력 plus'].sum()

53

In [2856]:
# 특정 단어가 포함된 단어의 개수 세기
df['soft plus'].apply(lambda x: 1 if '추론' in x else 0).sum()

4

5. 공모전

In [2857]:
# '공모전' 컬럼 생성
keywords = ['입상', '수상', '공모전', '대회']
df['공모전'] = df['soft plus'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['공모전'].sum()

7

6. Agile plus

In [2858]:
# '스타트업' 컬럼 생성
keywords = ['스타트업', 'agile', '멀티']
df['Agile plus'] = df['soft plus'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['Agile plus'].sum()

22

7. 프로젝트 경험

In [2859]:
# '프로젝트 경험' 컬럼 생성
keywords = ['프로젝트','프로젝트경험','프로세스']
df['프로젝트 경험'] = df['soft plus'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['프로젝트 경험'].sum()

49

In [2860]:
# 특정 단어가 포함된 단어의 개수 세기
df['soft plus'].apply(lambda x: 1 if '석박' in x else 0).sum()

0

8. 학력 plus

In [2861]:
# '학력 plus' 컬럼 생성
keywords = ['석사','박사','mba','연구']
df['학력 plus'] = df['soft plus'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['학력 plus'].sum()

35

9. 논리적/분석적 사고 plus

In [2862]:
# '논리적/분석적 사고 plus' 컬럼 생성
keywords = ['논리적', '분석적', '방법론', '데이터기반', '리터러시', '가설', '추론']
df['논리적/분석적 사고 plus'] = df['soft plus'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['논리적/분석적 사고 plus'].sum()

27

10. 창의력 plus

In [2863]:
# '창의력 plus' 컬럼 생성
keywords = ['창의','호기심','유연','이해력','새로운']
df['창의력 plus'] = df['soft plus'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['창의력 plus'].sum()

12

In [2864]:
# 특정 단어가 포함된 단어의 개수 세기
df['soft plus'].apply(lambda x: 1 if '성장' in x else 0).sum()

2

In [2865]:
# '적극적 plus' 컬럼 생성
keywords = ['적극','주도','능동','열정','의지','학구심','열정', '동기부여', '성장']
df['적극적 plus'] = df['soft plus'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['적극적 plus'].sum()

25

11. 관심/경험 plus

In [2866]:
# '관심/경험' 컬럼 생성
keywords = ['경험','이해', '관심']
df['관심/경험 plus'] = df['soft plus'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['관심/경험 plus'].sum()

121

12. 논문

In [2867]:
# '논문' 컬럼 생성
keywords = ['논문','학술']
df['논문'] = df['soft plus'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['논문'].sum()

13

In [2868]:
# 특정 단어가 포함된 단어의 개수 세기
df['soft plus'].apply(lambda x: 1 if '학술' in x else 0).sum()

2

13. 영어 plus

In [2869]:
# '영어 plus' 컬럼 생성
keywords = ['영어']
df['영어 plus'] = df['soft plus'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['영어 plus'].sum()

13

In [2870]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 77 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       235 non-null    int64
 1   사이트              235 non-null    object
 2   검색 키워드           235 non-null    object
 3   기업이름             235 non-null    object
 4   포지션이름            235 non-null    object
 5   포지션이름 전처리        235 non-null    object
 6   Hard Skill       235 non-null    object
 7   Soft Skill       235 non-null    object
 8   Tool             235 non-null    object
 9   hard plus        235 non-null    object
 10  soft plus        235 non-null    object
 11  tool plus        235 non-null    object
 12  DA               235 non-null    int64
 13  통계               235 non-null    int64
 14  ML               235 non-null    int64
 15  DL               235 non-null    int64
 16  시각화              235 non-null    int64
 17  데이터 가공           235 non-null    int64
 18  빅데이터             235 non-null    int64
 19  클라우드             235 non-null    int64
 20  파이프라인            235 non-null    int64
 21  그로스해킹            235 non-null    int64
 22  로그               235 non-null    int64
 23  마케팅              235 non-null    int64
 24  도메인              235 non-null    int64
 25  프로그래밍언어          235 non-null    int64
 26  의사소통             235 non-null    int64
 27  논리적/분석적 사고       235 non-null    int64
 28  문제해결능력           235 non-null    int64
 29  프로세스             235 non-null    int64
 30  리더십              235 non-null    int64
 31  책임감              235 non-null    int64
 32  적극적              235 non-null    int64
 33  의지/열정            235 non-null    int64
 34  창의력              235 non-null    int64
 35  비즈니스             235 non-null    int64
 36  액션도출             235 non-null    int64
 37  Agile            235 non-null    int64
 38  영어               235 non-null    int64
 39  관심/경험            235 non-null    int64
 40  학력               235 non-null    int64
 41  Tool1            235 non-null    object
 42  SQL              235 non-null    int64
 43  Python           235 non-null    int64
 44  R                235 non-null    int64
 45  시각화 툴            235 non-null    int64
 46  로그분석             235 non-null    int64
 47  BigData          235 non-null    int64
 48  Cloud            235 non-null    int64
 49  database         235 non-null    int64
 50  개발               235 non-null    int64
 51  DA plus          235 non-null    int64
 52  통계 plus          235 non-null    int64
 53  ML plus          235 non-null    int64
 54  DL plus          235 non-null    int64
 55  시각화 plus         235 non-null    int64
 56  데이터 가공 plus      235 non-null    int64
 57  빅데이터 plus        235 non-null    int64
 58  클라우드 plus        235 non-null    int64
 59  파이프라인 plus       235 non-null    int64
 60  그로스해킹 plus       235 non-null    int64
 61  로그 plus          235 non-null    int64
 62  마케팅 plus         235 non-null    int64
 63  전공               235 non-null    int64
 64  의사소통 plus        235 non-null    int64
 65  리더십 plus         235 non-null    int64
 66  문제해결능력 plus      235 non-null    int64
 67  공모전              235 non-null    int64
 68  Agile plus       235 non-null    int64
 69  프로젝트 경험          235 non-null    int64
 70  학력 plus          235 non-null    int64
 71  논리적/분석적 사고 plus  235 non-null    int64
 72  창의력 plus         235 non-null    int64
 73  적극적 plus         235 non-null    int64
 74  관심/경험 plus       235 non-null    int64
 75  논문               235 non-null    int64
 76  영어 plus          235 non-null    int64
dtypes: int64(65), object(12)
memory usage: 141.5+ KB

Tool 전처리 - Tool Plus

In [2871]:
df['tool plus']

0                                                     없음
1                                                     없음
2      Google Analytics, Adobe Analytics, SQL, Tablea...
3      Kubernetes, Kafka, In-memory, RDB, NoSQL, ETL,...
4                                                     없음
                             ...
230                  Spark, HDFS, Hive, MariaDB, Airflow
231                                                   없음
232                                   GitHub, SQL, MySQL
233                                                   없음
234                                                   없음
Name: tool plus, Length: 235, dtype: object

In [2872]:
import re

# 정규표현식을 사용하여 쉼표와 쉼표 사이의 R을 'R'로 변환
df['tool plus'] = df['tool plus'].apply(lambda x: re.sub(r',\s*R\s*,', ", 'R',", x))
df['tool plus'] = df['tool plus'].apply(lambda x: re.sub(r',\s*R$', ", 'R'", x))
df['tool plus'] = df['tool plus'].apply(lambda x: re.sub(r'^R\s*,', "'R',", x))
df['tool plus'] = df['tool plus'].apply(lambda x: re.sub(r'^R$', "'R'", x))

In [2873]:
# Tool 열의 띄어쓰기 없애기
df['tool plus1'] = df['tool plus'].apply(lambda x: x.replace(' ', ''))

# 결과 확인
print(df['tool plus1'])

0                                                     없음
1                                                     없음
2      GoogleAnalytics,AdobeAnalytics,SQL,Tableau,Pow...
3           Kubernetes,Kafka,In-memory,RDB,NoSQL,ETL,CEP
4                                                     없음
                             ...
230                      Spark,HDFS,Hive,MariaDB,Airflow
231                                                   없음
232                                     GitHub,SQL,MySQL
233                                                   없음
234                                                   없음
Name: tool plus1, Length: 235, dtype: object

In [2874]:
df['tool plus1'].head(10)

0                                                   없음
1                                                   없음
2    GoogleAnalytics,AdobeAnalytics,SQL,Tableau,Pow...
3         Kubernetes,Kafka,In-memory,RDB,NoSQL,ETL,CEP
4                                                   없음
5                                    AWS,Airflow,Luigi
6                                 Python,'R',Amplitude
7                                      SVM,LDA,Tableau
8                                                   없음
9                                                   없음
Name: tool plus1, dtype: object

In [2876]:
# Tool1 열의 영어 단어를 모두 소문자로 변환
df['tool plus1'] = df['tool plus1'].apply(lambda x: x.lower())

# 각 행의 "Tool1" 열 값을 가져와서 쉼표로 분리하여 리스트로 만들기
tool1_list = df['tool plus1'].apply(lambda x: x.split(','))

# 모든 리스트를 하나의 리스트로 합치기
all_tools = [skill.strip() for sublist in tool1_list for skill in sublist]

# 고유한 스킬 찾기
unique_tools = set(all_tools)

# 각 스킬의 개수 세기
tool_counts = {skill: all_tools.count(skill) for skill in unique_tools}

# 스킬의 개수를 기준으로 내림차순으로 정렬
all_tool_counts = sorted(tool_counts.items(), key=lambda x: x[1], reverse=True)

# 결과 출력
for skill, count in all_tool_counts:
   print(f"{skill}: {count}")

없음: 120
python: 39
tableau: 33
sql: 29
'r': 22
aws: 17
spark: 11
googleanalytics: 10
gcp: 10
airflow: 10
redash: 9
powerbi: 9
bi: 7
hive: 7
amplitude: 7
bigquery: 6
tensorflow: 5
braze: 5
pytorch: 5
hadoop: 4
presto: 4
sas: 4
snowflake: 3
qlik: 3
appsflyer: 3
superset: 3
lookerstudio: 3
mixpanel: 3
matlab: 3
databricks: 3
kafka: 3
olap: 2
jupyter: 2
pyspark: 2
zeppelin: 2
mysql: 2
firebase: 2
docker: 2
confluence: 2
amazonquicksight: 2
ec2: 2
devops: 2
notion: 2
mlops: 2
kubernetes: 2
excel: 2
glue: 2
dbt: 2
mmptool: 2
pa: 2
adobeanalytics: 2
java: 2
github: 2
keras: 2
nosql: 2
nlp: 2
biqquery: 2
css: 2
jira: 2
ga/gtm: 2
c/c++: 2
awsathena: 2
: 1
seo: 1
flink: 1
ga4: 1
cgp: 1
dynamodb: 1
s3: 1
spss: 1
vba: 1
sem: 1
awsredshift: 1
branch.io: 1
googlebigquery: 1
c#: 1
amplitude/mixpanel: 1
redshift: 1
mspowerbi: 1
etl: 1
msteams: 1
slack: 1
분석툴: 1
microsoftoffice: 1
bigdata: 1
ableau: 1
wrf: 1
ml: 1
luigi: 1
datahub: 1
mariadb: 1
athena: 1
git-hub: 1
workday: 1
impala: 1
awssagemaker: 1
greenhouse: 1
datbricks: 1
rdb: 1
vcs: 1
fft: 1
virtualenv: 1
gtm(googletagmanager): 1
quicksight: 1
looker: 1
svm: 1
git: 1
#value!: 1
firebas: 1
sre: 1
in-memory: 1
gcpautoml: 1
emr: 1
mstr: 1
cep: 1
mobile999: 1
dw: 1
rds: 1
datastudio: 1
azure: 1
google: 1
cms: 1
llm: 1
salesforce: 1
scalar: 1
clickhouse: 1
hdfs: 1
powerautomate: 1
computervision: 1
gis: 1
qgis: 1
linux: 1
lda: 1
rdbms: 1
javascript: 1

1. SQL

In [ ]:
# SQL' 컬럼 생성
keywords = ['sql']
df['SQL plus'] = df['tool plus1'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['SQL plus'].sum()

31

2. Python

In [ ]:
# 'Python' 컬럼 생성
keywords = ['python']
df['Python plus'] = df['tool plus1'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['Python plus'].sum()

39

3. 'R'

In [ ]:
# 'r' 단어를 찾기 위한 정규표현식 패턴 설정
pattern = r"'r'"

# 'Tool1' 열에서 'r' 단어가 있는지 여부를 검사하여 'R' 열 생성
df['R plus'] = df['tool plus1'].str.contains(pattern).astype(int)

# 결과 확인
df['R plus'].sum()

22

4. 시각화 툴 plus

In [ ]:
# '시각화 툴 plus' 컬럼 생성
keywords = ['tableau', 'powerbi', 'redash', 'treamlit', 'grafana', 'visio', 'lookerstudio', 'qlikview', 'plotly',
             'looker', 'googledatastudio', 'metabase', 'cognos', 'quicksight', 'datastudio(lookerstudio)', 'bitool', 'superset']
df['시각화 툴 plus'] = df['tool plus1'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['시각화 툴 plus'].sum()

37

5. 로그분석 plus

In [ ]:
# '로그 분석' 컬럼 생성
keywords = ['ga','googleanalytics','amplitude','mixpanel','adobeanalytics','firebase', 'braze', 'ga4', 'gtm']

df['로그분석 plus'] = df['tool plus1'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['로그분석 plus'].sum()

19

In [ ]:
# 특정 단어가 포함된 단어의 개수 세기
df['tool plus1'].apply(lambda x: 1 if 'googleanalytics' in x else 0).sum()

10

6. BigData plus

In [ ]:
# 'BigData plus' 컬럼 생성
keywords = ['hadoop', 'bigquery', 'snowflake', 'spark', 'hive', 'presto', 'nifi', 'databricks', 'sashadoop', 'etl'
            'googlebigquery', 'amazonredshift', 'airflow', 'trino', 'databricks']

df['BigData plus'] = df['tool plus1'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['BigData plus'].sum()

27

7. Cloud plus

In [ ]:
# 'Cloud plus' 컬럼 생성
keywords = ['aws', 'aws/gcp', 'googlecloud', 's3', 'gcp', 'cloud', 'amazonweb', 'bigquery', 'ncp']

df['Cloud plus'] = df['tool plus1'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['Cloud plus'].sum()

28

8. database plus

In [ ]:
# 'database plus' 컬럼 생성
keywords = [ 'mongodb', 'nosql', 'mssql', 'snowflake', 'googlecloudsqlforpostgresql', 'amazonauroramysql', 'ibmdb2', 'rdb'
            'postgresql', 'tibero', 'mysql', 'mariadb', 'amazonredshift', 'amazonathena', 'saperp', 'oracle', 'postresql', 'databricks']

df['database plus'] = df['tool plus1'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['database plus'].sum()

9

9. 개발 plus

In [ ]:
# '개발 plus' 컬럼 생성
keywords = [ 'shiny', 'kafka', 'zeppelin', 'jira', 'ruby', 'web', 'kuberne' 'c+', 'java', 'scala', 'linux']

df['개발 plus'] = df['tool plus1'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['개발 plus'].sum()

11

10. 딥러닝 plus

In [ ]:
# '딥러닝 plus' 컬럼 생성
keywords = ['pytorch', 'keras', 'tensorflow', 'mmdet', 'mxnet', 'pyspark', 'opencv', 'nlp', 'mlflow', 'airflow', 'torch', 'llm']

df['딥러닝 plus'] = df['tool plus1'].apply(lambda x: 1 if any(keyword in x for keyword in keywords) else 0)

# 결과 확인
df['딥러닝 plus'].sum()

18

In [2877]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 78 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       235 non-null    int64
 1   사이트              235 non-null    object
 2   검색 키워드           235 non-null    object
 3   기업이름             235 non-null    object
 4   포지션이름            235 non-null    object
 5   포지션이름 전처리        235 non-null    object
 6   Hard Skill       235 non-null    object
 7   Soft Skill       235 non-null    object
 8   Tool             235 non-null    object
 9   hard plus        235 non-null    object
 10  soft plus        235 non-null    object
 11  tool plus        235 non-null    object
 12  DA               235 non-null    int64
 13  통계               235 non-null    int64
 14  ML               235 non-null    int64
 15  DL               235 non-null    int64
 16  시각화              235 non-null    int64
 17  데이터 가공           235 non-null    int64
 18  빅데이터             235 non-null    int64
 19  클라우드             235 non-null    int64
 20  파이프라인            235 non-null    int64
 21  그로스해킹            235 non-null    int64
 22  로그               235 non-null    int64
 23  마케팅              235 non-null    int64
 24  도메인              235 non-null    int64
 25  프로그래밍언어          235 non-null    int64
 26  의사소통             235 non-null    int64
 27  논리적/분석적 사고       235 non-null    int64
 28  문제해결능력           235 non-null    int64
 29  프로세스             235 non-null    int64
 30  리더십              235 non-null    int64
 31  책임감              235 non-null    int64
 32  적극적              235 non-null    int64
 33  의지/열정            235 non-null    int64
 34  창의력              235 non-null    int64
 35  비즈니스             235 non-null    int64
 36  액션도출             235 non-null    int64
 37  Agile            235 non-null    int64
 38  영어               235 non-null    int64
 39  관심/경험            235 non-null    int64
 40  학력               235 non-null    int64
 41  Tool1            235 non-null    object
 42  SQL              235 non-null    int64
 43  Python           235 non-null    int64
 44  R                235 non-null    int64
 45  시각화 툴            235 non-null    int64
 46  로그분석             235 non-null    int64
 47  BigData          235 non-null    int64
 48  Cloud            235 non-null    int64
 49  database         235 non-null    int64
 50  개발               235 non-null    int64
 51  DA plus          235 non-null    int64
 52  통계 plus          235 non-null    int64
 53  ML plus          235 non-null    int64
 54  DL plus          235 non-null    int64
 55  시각화 plus         235 non-null    int64
 56  데이터 가공 plus      235 non-null    int64
 57  빅데이터 plus        235 non-null    int64
 58  클라우드 plus        235 non-null    int64
 59  파이프라인 plus       235 non-null    int64
 60  그로스해킹 plus       235 non-null    int64
 61  로그 plus          235 non-null    int64
 62  마케팅 plus         235 non-null    int64
 63  전공               235 non-null    int64
 64  의사소통 plus        235 non-null    int64
 65  리더십 plus         235 non-null    int64
 66  문제해결능력 plus      235 non-null    int64
 67  공모전              235 non-null    int64
 68  Agile plus       235 non-null    int64
 69  프로젝트 경험          235 non-null    int64
 70  학력 plus          235 non-null    int64
 71  논리적/분석적 사고 plus  235 non-null    int64
 72  창의력 plus         235 non-null    int64
 73  적극적 plus         235 non-null    int64
 74  관심/경험 plus       235 non-null    int64
 75  논문               235 non-null    int64
 76  영어 plus          235 non-null    int64
 77  tool plus1       235 non-null    object
dtypes: int64(65), object(13)
memory usage: 143.3+ KB

전체 코사인유사도

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

# 코사인 유사도를 계산할 열을 선택합니다.
columns_for_similarity = df.iloc[:, 12:41].join(df.iloc[:, 42:76]).join(df.iloc[:, 77:87])

# 코사인 유사도를 계산합니다.
cosine_sim = cosine_similarity(columns_for_similarity, columns_for_similarity)

# 계산된 코사인 유사도를 새로운 데이터프레임에 저장합니다.
cosine_sim_df = pd.DataFrame(cosine_sim, columns=df.index, index=df.index)

# 결과 확인
cosine_sim_df

,0,1,2,3,4,5,6,7,8,9,...,225,226,227,228,229,230,231,232,233,234
0,1.000000,0.472456,0.182574,0.000000,0.000000,0.360844,0.154303,0.441942,0.566947,0.400892,...,0.125000,0.433013,0.243332,0.283473,0.456435,0.196116,0.213201,0.444500,0.319801,0.377964
1,0.472456,1.000000,0.345033,0.000000,0.188982,0.381881,0.233285,0.534522,0.642857,0.202031,...,0.283473,0.381881,0.306570,0.285714,0.345033,0.296500,0.322329,0.432014,0.402911,0.357143
2,0.182574,0.345033,1.000000,0.115470,0.182574,0.158114,0.281718,0.451848,0.276026,0.195180,...,0.273861,0.263523,0.355409,0.138013,0.133333,0.214834,0.233550,0.510113,0.233550,0.276026
3,0.000000,0.000000,0.115470,1.000000,0.000000,0.091287,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.091287,0.000000,0.000000,0.000000,0.124035,0.000000,0.240966,0.000000,0.000000
4,0.000000,0.188982,0.182574,0.000000,1.000000,0.216506,0.308607,0.265165,0.188982,0.000000,...,0.250000,0.216506,0.162221,0.283473,0.091287,0.098058,0.213201,0.190500,0.213201,0.188982
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,0.196116,0.296500,0.214834,0.124035,0.098058,0.396297,0.181568,0.416025,0.444750,0.314485,...,0.098058,0.509525,0.127257,0.370625,0.501280,1.000000,0.083624,0.348695,0.083624,0.074125
231,0.213201,0.322329,0.233550,0.000000,0.213201,0.307729,0.197386,0.226134,0.402911,0.000000,...,0.213201,0.369274,0.484200,0.322329,0.311400,0.083624,1.000000,0.324918,0.454545,0.483494
232,0.444500,0.432014,0.510113,0.240966,0.190500,0.513265,0.509510,0.628619,0.576018,0.407307,...,0.190500,0.513265,0.453247,0.432014,0.510113,0.348695,0.324918,1.000000,0.379071,0.384012
233,0.319801,0.402911,0.233550,0.000000,0.213201,0.246183,0.197386,0.301511,0.402911,0.000000,...,0.426401,0.430820,0.484200,0.322329,0.389249,0.083624,0.454545,0.379071,1.000000,0.886405
234,0.377964,0.357143,0.276026,0.000000,0.188982,0.327327,0.174964,0.334077,0.500000,0.101015,...,0.377964,0.436436,0.551825,0.285714,0.345033,0.074125,0.483494,0.384012,0.886405,1.000000

In [ ]:
# 136번 데이터의 코사인 유사도 값들을 가져옵니다.
similarities_to_136 = cosine_sim_df.iloc[136, :]

# 136번 데이터를 포함하여 가장 유사한 상위 5개 데이터의 인덱스를 가져옵니다.
most_similar_indices = similarities_to_136.drop(136).nlargest(5).index

# 136번 데이터를 포함하여 가장 유사한 상위 5개 데이터와 136번 데이터를 추출합니다.
similar_data = df.iloc[most_similar_indices.tolist() + [136], :]

# 결과를 출력합니다.
print(similar_data)

     Unnamed: 0      사이트        검색 키워드           기업이름              포지션이름  \
50           53  원티드,사람인       데이터 분석가           플래티어            데이터 분석가
167         185     잡코리아       데이터 분석가             없음          고급 데이터분석가
122         128     잡플래닛       데이터 분석가          넥슨코리아  데이터 분석가 (개인화 콘텐츠)
206         236      사람인  Data Analyst          원프레딕트       Data Analyst
8             9      원티드       데이터 분석가  아우름플래닛(Liner)       프로덕트 데이터 분석가
136         142     잡플래닛       데이터 분석가           플래티어            데이터 분석가

    포지션이름 전처리                   Hard Skill  \
50    데이터 분석가                        데이터분석
167   데이터 분석가             데이터분석,rdb경험,연동분석
122   데이터 분석가                사용자행동로그,데이터가공
206   데이터 분석가        데이터분석,데이터추출,데이터가공,자동화
8     데이터 분석가  데이터전처리,데이터분석,모델링,통계학,실험인사이트
136   데이터 분석가                        데이터분석

                                     Soft Skill              Tool  \
50                                        논리적사고       SQL, Python
167                                       경력10년        QL, Python
122                       게임플레이경험,게임및게임유저에대한이해도       Python, SQL
206  문제정의,가설검증,결과해석,인사이트도출,커뮤니케이션,꼼꼼함,정리능력,경력1년       SQL, Python
8                              경력3년,협업,데이터스토리텔링  SQL, Python, 'R'
136                                        경력2년       SQL, Python

                                             hard plus  ... SQL plus  \
50                          데이터분석,추천알고리즘,예측모델,모델링,머신러닝  ...        0
167          제조,데이터분석,불량원인도출,공정최적화,품질예측,설비예지보전,골든레시피도출  ...        0
122  데이터분석,app/web서비스데이터,사용자행동로그,통계,머신러닝,딥러닝,모델링,게임데이터  ...        0
206            산업데이터,제조공정데이터,머신러닝,딥러닝,모델링,데이터분석,데이터시각화  ...        0
8    데이터마트,데이터마트구축,데이터파이프라인구축,데이터분석,머신러닝,딥러닝,모델링,개인화ai  ...        0
136                     데이터분석,추천알고리즘,예측모델,모델링,머신러닝,딥러닝  ...        0

    Python plus  R plus  시각화툴 plus  로그분석 plus  BigData plus  Cloud plus  \
50            0       0          0          0             0           0
167           0       0          0          0             0           0
122           0       0          0          0             0           0
206           0       0          1          0             0           0
8             0       0          0          0             0           0
136           0       0          0          0             0           0

     database plus  개발 plus  딥러닝 plus
50               0        0         0
167              0        0         0
122              0        0         0
206              0        0         0
8                0        0         0
136              0        0         0

[6 rows x 87 columns]

In [ ]:
# 선택할 인덱스 리스트
index_list = [50, 167, 122, 206, 8, 136]

# 주어진 인덱스에 해당하는 데이터프레임 선택
selected_df = columns_for_similarity.iloc[index_list]

# 결과 출력
print(selected_df)

     DA  통계  ML  DL  시각화  데이터 가공  빅데이터  클라우드  파이프라인  그로스해킹  ...  SQL plus  \
50    1   0   1   0    0       0     0     0      0      0  ...         0
167   1   0   1   0    0       0     0     0      0      0  ...         0
122   0   0   1   0    0       1     0     0      0      0  ...         0
206   1   0   1   0    0       1     0     0      0      0  ...         0
8     1   1   1   0    0       1     0     0      0      0  ...         0
136   1   0   1   0    0       0     0     0      0      0  ...         0

     Python plus  R plus  시각화툴 plus  로그분석 plus  BigData plus  Cloud plus  \
50             0       0          0          0             0           0
167            0       0          0          0             0           0
122            0       0          0          0             0           0
206            0       0          1          0             0           0
8              0       0          0          0             0           0
136            0       0          0          0             0           0

     database plus  개발 plus  딥러닝 plus
50               0        0         0
167              0        0         0
122              0        0         0
206              0        0         0
8                0        0         0
136              0        0         0

[6 rows x 73 columns]

In [ ]:
columns_for_similarity

,DA,통계,ML,DL,시각화,데이터 가공,빅데이터,클라우드,파이프라인,그로스해킹,...,SQL plus,Python plus,R plus,시각화툴 plus,로그분석 plus,BigData plus,Cloud plus,database plus,개발 plus,딥러닝 plus
0,0,1,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,0,1,0,0,0,0,0,0,...,1,0,0,1,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,1,1,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,1
231,0,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
232,1,1,1,1,1,1,0,0,1,0,...,1,0,0,0,0,0,0,1,0,0
233,1,0,1,1,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
234,1,1,1,1,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

자격요건 코사인 유사도

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

# 12~40번, 42~50번 컬럼 선택
selected_columns = df.iloc[:, 12:41].join(df.iloc[:, 42:51])

# 코사인 유사도 계산
cosine_sim1 = cosine_similarity(selected_columns)

# 계산된 코사인 유사도를 새로운 데이터프레임에 저장합니다.
cosine_sim_df1 = pd.DataFrame(cosine_sim1, columns=df.index, index=df.index)

# 결과 출력
cosine_sim_df1

,0,1,2,3,4,5,6,7,8,9,...,225,226,227,228,229,230,231,232,233,234
0,1.000000,0.617213,0.272166,0.000000,0.000000,0.387298,0.235702,0.617213,0.680414,0.471405,...,0.144338,0.527046,0.280976,0.333333,0.516398,0.235702,0.246183,0.561951,0.369274,0.436436
1,0.617213,1.000000,0.377964,0.000000,0.218218,0.358569,0.436436,0.714286,0.755929,0.000000,...,0.400892,0.585540,0.433555,0.462910,0.478091,0.218218,0.455842,0.606977,0.569803,0.505076
2,0.272166,0.377964,1.000000,0.000000,0.192450,0.210819,0.384900,0.503953,0.333333,0.192450,...,0.353553,0.430331,0.458831,0.272166,0.210819,0.192450,0.301511,0.611775,0.301511,0.356348
3,0.000000,0.000000,0.000000,1.000000,0.000000,0.223607,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.162221,0.000000,0.000000
4,0.000000,0.218218,0.192450,0.000000,1.000000,0.000000,0.166667,0.218218,0.192450,0.000000,...,0.408248,0.298142,0.264906,0.471405,0.182574,0.000000,0.348155,0.132453,0.348155,0.308607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,0.235702,0.218218,0.192450,0.000000,0.000000,0.000000,0.333333,0.218218,0.384900,0.333333,...,0.204124,0.447214,0.264906,0.235702,0.547723,1.000000,0.174078,0.264906,0.174078,0.154303
231,0.246183,0.455842,0.301511,0.000000,0.348155,0.476731,0.261116,0.341882,0.502519,0.000000,...,0.213201,0.467099,0.484200,0.492366,0.381385,0.174078,1.000000,0.415029,0.454545,0.483494
232,0.561951,0.606977,0.611775,0.162221,0.132453,0.580381,0.662266,0.606977,0.611775,0.397360,...,0.243332,0.533114,0.578947,0.374634,0.580381,0.264906,0.415029,1.000000,0.484200,0.490511
233,0.369274,0.569803,0.301511,0.000000,0.348155,0.381385,0.261116,0.455842,0.502519,0.000000,...,0.426401,0.544949,0.484200,0.492366,0.476731,0.174078,0.454545,0.484200,1.000000,0.886405
234,0.436436,0.505076,0.356348,0.000000,0.308607,0.507093,0.231455,0.505076,0.623610,0.154303,...,0.377964,0.552052,0.551825,0.436436,0.422577,0.154303,0.483494,0.490511,0.886405,1.000000

In [ ]:
# index 6번과 가장 유사한 5개의 데이터를 찾기
similar_indices = cosine_sim_df1[6].sort_values(ascending=False)[1:6].index

# 원본 데이터프레임에서 유사한 인덱스의 데이터를 선택
similar_df = df.loc[similar_indices]

# 결과 출력
similar_df

,Unnamed: 0,사이트,검색 키워드,기업이름,포지션이름,포지션이름 전처리,Hard Skill,Soft Skill,Tool,hard plus,...,SQL plus,Python plus,R plus,시각화툴 plus,로그분석 plus,BigData plus,Cloud plus,database plus,개발 plus,딥러닝 plus
192,222,사람인,데이터 분석가,쿠팡,Business Analyst (비즈니스 데이터 분석),데이터 분석가,"데이터분석,데이터시각화,대시보드구축,프로그래밍언어","논리적사고,분석적사고,멀티태스킹,빠른판단력,경력3년","SQL, Tableau, Power BI","이커머스,인터넷서비스,프로그래밍언어",...,0,1,1,0,0,0,0,0,0,0
54,57,"원티드,잡코리아",데이터 분석가,백패커,Product Data Analyst,데이터 분석가,"app/web서비스,고객데이터분석,qa,데이터가공,데이터시각화,sql활용능력상급","비즈니스논리,논리적사고,인사이트도출,균형잡힌사고","SQL, BI, Tableau, Redash, Superset, Looker Stu...","it,커머스,app/web서비스데이,데이터분석,데이터시각화,마케팅,개발,앱서비스",...,0,0,0,1,0,0,0,0,0,0
64,67,원티드,데이터 분석가,인터파크트리플,데이터 분석가,데이터 분석가,"데이터분석,로그데이터,데이터마트,데이터시각화","협업능력,커뮤니케이션,리포트작성능력,경력3년","SQL, Tableau, Power BI, Redash","엔터,공연,전시,플랫폼데이터,빅데이터,데이터추출,데이터분석",...,0,1,1,0,1,1,0,0,0,0
189,218,사람인,데이터 분석가,야놀자,Business Analyst - 숙박 카테고리 데이터 분석,데이터 분석가,"비즈니스분석,데이터분석,대시보드구축,데이터시각화,sql고급능력","논리적사고,분석적사고,문제정의,가설수립,인사이트도출,커뮤니케이션","SQL, Tableau",없음,...,0,0,0,0,0,0,0,0,0,0
211,241,링크드인,Data Analyst,Viva Republica (Toss),Data Analyst,데이터 분석가,"데이터분석,데이터추출,데이터정제,비즈니스분석,자동화,데이터시각화,광고/커머스지식","논리적사고,분석적사고,인사이트도출,커뮤니케이션","SQL, Tableau",없음,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# 선택할 인덱스 리스트
index_list = [6, 192, 54, 64, 89, 211]

# 주어진 인덱스에 해당하는 데이터프레임 선택
selected_df = selected_columns.iloc[index_list]

# 결과 출력
selected_df

,DA,통계,ML,DL,시각화,데이터 가공,빅데이터,클라우드,파이프라인,그로스해킹,...,학력,SQL,Python,R,시각화 툴,로그분석,BigData,Cloud,database,개발
6,1,0,0,0,1,0,0,0,0,1,...,0,1,0,0,1,0,0,0,0,0
192,1,0,0,0,1,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
54,1,0,0,0,1,1,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
64,1,0,0,0,1,0,0,0,1,0,...,0,1,0,0,1,0,0,0,0,0
89,1,0,1,1,0,0,1,1,0,0,...,0,1,1,0,0,0,1,1,0,0
211,1,0,0,0,1,1,0,0,0,1,...,0,1,0,0,1,0,0,0,0,0

In [ ]:
# index 6번과 가장 유사한 5개의 데이터를 찾기
similar_indices = cosine_sim_df1[6].sort_values(ascending=False)[1:6].index

# 원본 데이터프레임에서 유사한 인덱스의 데이터를 선택
similar_df = df.loc[similar_indices]

# 코사인 유사도 값 출력
similar_cosine_similarity = cosine_sim_df1.loc[6, similar_indices]

# 결과 출력
print(similar_df)
print("\n코사인 유사도 값:\n", similar_cosine_similarity)

     Unnamed: 0       사이트        검색 키워드                   기업이름  \
192         222       사람인       데이터 분석가                     쿠팡
54           57  원티드,잡코리아       데이터 분석가                    백패커
64           67       원티드       데이터 분석가                인터파크트리플
189         218       사람인       데이터 분석가                    야놀자
211         241      링크드인  Data Analyst  Viva Republica (Toss)

                                 포지션이름 포지션이름 전처리  \
192     Business Analyst (비즈니스 데이터 분석)   데이터 분석가
54                Product Data Analyst   데이터 분석가
64                             데이터 분석가   데이터 분석가
189  Business Analyst - 숙박 카테고리 데이터 분석   데이터 분석가
211                       Data Analyst   데이터 분석가

                                       Hard Skill  \
192                   데이터분석,데이터시각화,대시보드구축,프로그래밍언어
54   app/web서비스,고객데이터분석,qa,데이터가공,데이터시각화,sql활용능력상급
64                       데이터분석,로그데이터,데이터마트,데이터시각화
189            비즈니스분석,데이터분석,대시보드구축,데이터시각화,sql고급능력
211  데이터분석,데이터추출,데이터정제,비즈니스분석,자동화,데이터시각화,광고/커머스지식

                              Soft Skill  \
192         논리적사고,분석적사고,멀티태스킹,빠른판단력,경력3년
54            비즈니스논리,논리적사고,인사이트도출,균형잡힌사고
64              협업능력,커뮤니케이션,리포트작성능력,경력3년
189  논리적사고,분석적사고,문제정의,가설수립,인사이트도출,커뮤니케이션
211            논리적사고,분석적사고,인사이트도출,커뮤니케이션

                                                  Tool  \
192                             SQL, Tableau, Power BI
54   SQL, BI, Tableau, Redash, Superset, Looker Stu...
64                      SQL, Tableau, Power BI, Redash
189                                       SQL, Tableau
211                                       SQL, Tableau

                                        hard plus  ... SQL plus Python plus  \
192                           이커머스,인터넷서비스,프로그래밍언어  ...        0           1
54   it,커머스,app/web서비스데이,데이터분석,데이터시각화,마케팅,개발,앱서비스  ...        0           0
64               엔터,공연,전시,플랫폼데이터,빅데이터,데이터추출,데이터분석  ...        0           1
189                                            없음  ...        0           0
211                                            없음  ...        0           0

     R plus  시각화툴 plus  로그분석 plus  BigData plus  Cloud plus  database plus  \
192       1          0          0             0           0              0
54        0          1          0             0           0              0
64        1          0          1             1           0              0
189       0          0          0             0           0              0
211       0          0          0             0           0              0

     개발 plus  딥러닝 plus
192        0         0
54         0         0
64         0         0
189        0         0
211        0         0

[5 rows x 87 columns]

코사인 유사도 값:
 192    0.821584
54     0.720577
64     0.714435
189    0.696311
211    0.696311
Name: 6, dtype: float64

In [ ]:
# 'Tool1' 컬럼과 'tool plus1' 컬럼 삭제
df.drop(columns=['Tool1', 'tool plus1'], inplace=True)